{% extends 'dashboard/_layout.html' %}

{% block title %}
    آسان تب | تیکت های دریافتی
{% endblock %}

{% block content %}
    <div class="rounded-lg bg-muted p-4 shadow-sm dark:bg-mut sm:p-6">
        <!-- Page Header -->
        <div class="mb-6 flex flex-col items-start justify-start gap-y-4 border-b border-gray-200 pb-4 dark:border-gray-600 sm:flex-row sm:items-center">
            <div>
                <h1 class="text-xl font-bold text-gray-800 dark:text-white">تیکت های دریافتی</h1>
                <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">لیست تمام تیکت های مربوط به دپارتمان شما</p>
            </div>
        </div>

        <!-- Tickets List -->
        <div class="space-y-4">
            {% include 'tickets/agent/list.html' %}
        </div>

        <!-- Pagination -->
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}