{% load extra_filters %}
<div class="border border-transparent px-4 py-2 duration-200 hover:border-border">
    <div class="flex flex-col">
        <div class="mb-4 flex flex-col justify-center">
            <a href="{{ service.get_absolute_url }}">
                <img src="{{ service.image.url }}" alt="Service Image" loading="lazy"
                     class="mx-auto aspect-[1/1] w-64 rounded-lg object-cover" draggable="false">
            </a>
        </div>
        <a href="{{ service.get_absolute_url }}"
           class="mb-2 line-clamp-2 h-10 px-2 mr-2 text-sm text-text/95 lg:h-12 lg:px-4 lg:text-base">{{ service.title }}</a>
        <div class="flex flex-col px-2 lg:px-4">
            <div class="flex justify-between items-center">
                <div class="flex gap-2">
                    <button onclick="window.location.href = '{% url 'provider_service_edit' slug=service.slug %}'" type="button" data-service-id="{{ service.id }}"
                            class="flex h-10 w-10 items-center justify-center rounded-full bg-background text-primary transition-all duration-200 hover:bg-cyan-500/80 hover:text-white hover:dark:text-black">
                        <span class="i-lucide-pen size-5"></span>
                    </button>
                    <button type="button" data-service-id="{{ service.id }}"
                            class="remove-service-btn flex h-10 w-10 items-center justify-center rounded-full bg-background text-warning transition-all duration-200 hover:bg-warning hover:text-white hover:dark:text-black">
                        <span class="i-lucide-trash size-5"></span>
                    </button>
                </div>
                <div class="text-end">
                    <div class="text-sm font-bold text-primary md:text-base">
                        <span class="text-xs font-light md:text-sm">از</span>
                        <span>{{ service.get_min_price|three_digits }}</span>
                        <span class="text-xs font-light md:text-sm">تومان</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
