{% load widget_tweaks %}
<div class="option-form relative mb-8 border p-4 rounded-lg bg-muted flex flex-col gap-4" data-id="{{ form.instance.pk }}">
    {{ form.id }}{{ form.DELETE|add_class:'hidden' }}

    <button type="button"
            class="remove-option absolute -top-2.5 left-2 flex items-center justify-center
               rounded-lg border bg-muted p-2 duration-200 hover:bg-background">
        <div class="i-lucide-trash h-4 w-4 text-warning pointer-events-none"></div>
    </button>

    <div class="flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4 w-full pt-4">
        {{ form.title.label_tag }}
        {{ form.title|add_class:"w-full sm:max-w-[180px] rounded-lg border bg-background text-center px-3 py-2" }}
    </div>

    <div class="flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4 w-full">
        {{ form.unit_price.label_tag }}
        {{ form.unit_price|add_class:"w-full sm:max-w-[100px] rounded-lg border bg-background text-center px-3 py-2" }}
    </div>

    <div class="flex flex-row items-center justify-between gap-4">
        <span class="text-sm font-medium">وضعیت آپشن:</span>
        <label for="{{ form.is_active.id_for_label }}" class="flex items-center">
            <input type="hidden" name="{{ form.is_active.html_name }}" value="false">
            <div class="relative inline-flex cursor-pointer items-center">
                <input
                        type="checkbox"
                        name="{{ form.is_active.html_name }}"
                        id="{{ form.is_active.id_for_label }}"
                        class="peer sr-only"
                        value="true"
                        {% if form.initial.is_active %}checked{% endif %}
                >
                <div class="peer h-6 w-11 rounded-full bg-background
                            after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5
                            after:rounded-full after:bg-muted after:transition-all after:content-['']
                            peer-checked:bg-primary peer-checked:after:translate-x-full"></div>
            </div>
        </label>
    </div>
</div>
