{% load extra_filters %}
{% load widget_tweaks %}
<div class="schedule-form relative mb-8 border p-4 rounded-lg bg-muted flex flex-col gap-4" data-id="{{ form.instance.pk }}">
    {{ form.id }}{{ form.DELETE|add_class:'hidden' }}

    <button type="button"
            class="remove-schedule absolute -top-2.5 left-2 flex items-center justify-center
               rounded-lg border bg-muted p-2 duration-200 hover:bg-background">
        <div class="i-lucide-trash h-4 w-4 text-warning pointer-events-none"></div>
    </button>

    <div class="flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4 w-full pt-4">
        {{ form.date.label_tag }}
        {{ form.date|add_class:"date-only w-full sm:max-w-[150px] rounded-lg border bg-background text-center px-3 py-2" }}
    </div>

    <div class="flex flex-col sm:flex-row items-center justify-between gap-2 sm:gap-4 w-full">
        {{ form.capacity.label_tag }}
        {{ form.capacity|add_class:"capacity-only w-full sm:max-w-[100px] rounded-lg border bg-background text-center px-3 py-2" }}
    </div>

    <div class="flex flex-row items-center justify-between gap-4">
        <span class="text-sm font-medium">وضعیت آیتم:</span>
        <label for="{{ form.is_active.id_for_label }}" class="flex items-center">
            <input type="hidden" name="{{ form.is_active.html_name }}" value="false">
            <div class="relative inline-flex cursor-pointer items-center">
                <input
                        type="checkbox"
                        name="{{ form.is_active.html_name }}"
                        id="{{ form.is_active.id_for_label }}"
                        class="peer sr-only"
                        value="true"
                        {% if form.initial.is_active %}checked{% endif %}
                >
                <div class="peer h-6 w-11 rounded-full bg-background
                            after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5
                            after:rounded-full after:bg-muted after:transition-all after:content-['']
                            peer-checked:bg-primary peer-checked:after:translate-x-full"></div>
            </div>
        </label>
    </div>
</div>

<script>
    const persianDigits = "۰۱۲۳۴۵۶۷۸۹";
    const arabicDigits = "٠١٢٣٤٥٦٧٨٩";

    function normalizeNumbers(str) {
        return str.replace(/[۰-۹]/g, d => persianDigits.indexOf(d))
            .replace(/[٠-٩]/g, d => arabicDigits.indexOf(d));
    }

    // فقط اعداد
    document.querySelectorAll(".capacity-only").forEach(input => {
        input.setAttribute("inputmode", "numeric");
        input.addEventListener("input", e => {
            let value = normalizeNumbers(e.target.value);
            value = value.replace(/[^0-9]/g, "");
            e.target.value = value;
        });
    });

    // تاریخ: فقط عدد و خط تیره
    document.querySelectorAll(".date-only").forEach(input => {
        input.setAttribute("inputmode", "numeric");
        input.addEventListener("input", e => {
            let value = normalizeNumbers(e.target.value);
            value = value.replace(/[^0-9-]/g, "");
            e.target.value = value;
        });
    });
</script>