{% extends 'shared/_layout.html' %}

{% block title %}
    درباره ما | آسان تب
{% endblock %}

{% block content %}
    <main class="flex-grow bg-background pt-[106px]">
        <div class="container pt-10 mt-14">
            <div class="rounded-lg bg-muted p-5">
                <!-- Head -->
                <div class="mb-5 flex">
                    <h1 class="relative select-none pb-2 text-lg text-text md:text-xl">
                        درباره ما
                        <span class="absolute bottom-0 right-0 h-0.5 w-full rounded-full bg-primary"></span>
                    </h1>
                </div>
                <!-- Content -->
                <div class="space-y-4">
                    <p class="text-text-/70 leading-loose">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                        کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                        جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
                        برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                        زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                        دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                        زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم
                        ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                        کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                        جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
                        برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                        زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                        دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                        زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم
                        ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                        کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
                        جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را
                        برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
                        زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
                        دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                        زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
                        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>
                    <div class="flex flex-wrap justify-between gap-10">
                        <ul class="mb-5 list-inside list-disc space-y-3 text-text/70">
                            <li>لورم ایپسوم متن ساختگی با</li>
                        </ul>

                        <img src="https://placehold.co/600x400" alt="" class="mx-auto rounded-lg">
                    </div>
                    <div class="flex flex-wrap justify-between gap-10">
                        <ul class="mb-5 list-inside list-decimal space-y-3 text-text/70">
                            <li>لورم ایپسوم متن ساختگی با</li>
                        </ul>
                        <img src="https://placehold.co/600x400" alt="" class="mx-auto rounded-lg">
                    </div>
                    <div class="flex flex-wrap justify-between gap-10">
                        <img src="https://placehold.co/600x400" alt="" class="mx-auto rounded-lg">
                        <img src="https://placehold.co/600x400" alt="" class="mx-auto rounded-lg">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}