{% extends 'shared/_layout.html' %}
{% load extra_filters %}

{% block title %}
    صفحه اصلی | آسان تب
{% endblock %}

{% block content %}
    <div class="flex min-h-screen flex-col">
        <main class="flex-grow bg-background pt-[106px]">
            {% get_media_items 'upper_banner' as upper_banners %}
            {% if upper_banners %}
                <section>
                    <div class="swiper main-banner group swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-82a35a4e191f2f82" aria-live="off"
                             style="transition-duration: 0ms; transform: translate3d(1267px, 0px, 0px); transition-delay: 0ms;">
                            {% for banner in upper_banners %}
                                <div class="swiper-slide{% if forloop.first %} swiper-slide-active{% endif %}"
                                     role="group"
                                     aria-label="{{ forloop.counter }} / {{ upper_banners|length }}"
                                     data-swiper-slide-index="{{ forloop.counter0 }}"
                                     style="width: 1267px;">
                                    <a href="{{ banner.link|default:'#' }}">
                                        {% if banner.image_desktop %}
                                            <!-- Desktop -->
                                            <img src="{{ banner.image_desktop.url }}" alt="desktop-banner-{{ forloop.counter }}"
                                                 class="mx-auto hidden aspect-[2/1] object-cover sm:block md:aspect-[3/1] lg:aspect-auto">
                                        {% endif %}

                                        {% if banner.image_mobile %}
                                            <!-- Mobile -->
                                            <img src="{{ banner.image_mobile.url }}" alt="mobile-banner-{{ forloop.counter }}"
                                                 class="aspect-[2/1] object-cover sm:hidden">
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="swiper-button-next main-banner-nav-button !right-[50px]"
                             tabindex="-1" role="button"
                             aria-label="Next slide"
                             aria-controls="swiper-wrapper-a27bd3bd03ba87d1"
                             aria-disabled="true"></div>

                        <div class="swiper-button-prev main-banner-nav-button"
                             tabindex="0" role="button"
                             aria-label="Previous slide"
                             aria-controls="swiper-wrapper-a27bd3bd03ba87d1"
                             aria-disabled="false"></div>

                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </section>
            {% endif %}

            {% if newest_services %}
                <!-- Latest Services Section -->
                <section class="container py-10">
                    <div class="mb-6 flex items-center justify-between gap-x-6 text-nowrap">
                        <h4 class="font-semiBold lg:text-xl">جدیدترین خدمات</h4>
                        <div class="h-[0.25px] w-full bg-border"></div>
                        <a href="{% url 'services_list_page' %}?page=1&sort_by=newest">
                            <div class="flex cursor-pointer items-center gap-x-2 text-sm text-primary duration-200 hover:text-primary/80 lg:text-base">
                                <p>مشاهده همه</p>
                                <i class="i-carbon-chevron-left"></i>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="swiper product-slider !px-px pt-4 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
                            <div class="swiper-wrapper py-px" id="swiper-wrapper-386d109d5776ce5af" aria-live="polite">
                                <!-- service -->
                                {% for service in newest_services %}
                                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="{{ forloop.counter }} / 8"
                                         style="width: 184.4px; margin-left: 20px;">
                                        <div class="border-gradient relative rounded-[--product-card-radius] p-px [--product-card-radius:theme(borderRadius.2xl)] before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-[--product-card-radius] before:content-['']"
                                             style="--x: 319.890625px; --y: 2774.046875px;">
                                            <a href="{{ service.get_absolute_url }}"
                                               class="relative block overflow-hidden rounded-[calc(var(--product-card-radius)-1px)] bg-muted">
                                                <div class="mb-4 bg-secondary p-2 lg:p-4">
{#                                                    <!-- Special Sale Percentage  -->#}
{#                                                    <div class="absolute right-2 top-0 rounded-b-full bg-warning px-1 py-1.5 text-center text-sm font-medium text-white md:text-base">#}
{#                                                        50%#}
{#                                                    </div>#}
                                                    <!-- Image -->
                                                    <img src="{% if service.image %}{{ service.image.url }}{% else %}/static/images/empty-image.png{% endif %}" alt="{{ service.title }}"
                                                         class="aspect-[1/1] w-full rounded-xl object-cover">
                                                </div>
                                                <div class="mb-1 px-2 lg:px-4">
                                                    <p class="line-clamp-2 h-10 text-sm xs:h-12 xs:text-base">{{ service.title }}</p>

                                                    <div class="gap-x-1 text-end font-bold text-primary">
                                                        {#                      <div class="h-5 text-end text-sm text-text/50 xs:text-base">#}
                                                        {#                          <del>2,00,000</del>#}
                                                        {#                      </div>#}
                                                        <span class="text-sm xs:text-base">
                                                    {% if service.get_min_price and service.get_max_price %}
                                                        {{ service.get_min_price|three_digits }}
                                                        {% if service.get_min_price < service.get_max_price %}
                                                            <span class="text-sm font-normal">الی</span>
                                                            {{ service.get_max_price|three_digits }}
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                                        <span class="text-sm font-light">تومان</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    </div>
                </section>
            {% endif %}

            {% if featured_services %}
                <section class="container hidden md:block">
                    <div class="relative flex w-full flex-col items-center justify-between gap-y-10 overflow-hidden rounded-lg bg-muted p-4 lg:flex-row lg:p-6">
                        <div class="absolute right-0 top-0 size-20 rounded-full bg-success blur-3xl"></div>
                        <a href="{% url 'services_list_page' %}?page=1&featured=1&sort_by=newest" class="absolute inset-0"></a>

                        <div class="flex min-w-fit flex-col items-center justify-between gap-x-6 gap-y-4 sm:flex-row lg:justify-start">
                            <div class="i-unjs-destr size-24"></div>
                            <div class="text-center text-xl font-medium">
                                شـگـفـت انـگـیـز هـای مـنـتـخـب
                            </div>
                            {#                            <div class="rounded-full bg-primary-btn ml-2 px-2 py-1 text-center text-sm text-white">#}
                            {#                                تا 65% تخفیف#}
                            {#                            </div>#}
                        </div>
                        <div class="flex w-full min-w-fit flex-col items-center justify-center gap-4 sm:flex-row lg:justify-center mr-2">
                            <!-- Products -->
                            {% for service in featured_services %}
                                <div class="flex flex-wrap items-center justify-center gap-2">
                                    <a href="{{ service.get_absolute_url }}"
                                       class="relative flex size-24 items-center justify-center rounded-full bg-secondary">
                                        <img src="{% if service.image %}{{ service.image.url }}{% else %}/static/images/empty-image.png{% endif %}" alt="product" class="size-20 rounded-full object-cover">
                                        {#                                        <div class="absolute bottom-0 right-0">#}
                                        {#                                            <div class="flex w-10 items-center justify-center rounded-full bg-warning py-px text-sm font-medium text-white">#}
                                        {#                                                %65#}
                                        {#                                            </div>#}
                                        {#                                        </div>#}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex items-center whitespace-nowrap justify-center gap-2 rounded-full bg-success/10 px-2 py-2 text-sm text-success sm:order-last">
                            <p>بیش از 50 کالا</p>
                            <div class="i-lucide-chevron-left size-5"></div>
                        </div>
                    </div>
                </section>
            {% endif %}

            {% get_media_items 'category' as categories %}
            {% if categories %}
                <!-- Category Section -->
                <section class="container py-10">
                    <div class="mb-10 text-center text-lg font-medium lg:text-xl">
                        خرید بر اساس دسته بندی
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex w-full flex-wrap items-center justify-center gap-8">
                            {% for category in categories %}
                                <div class="h-40 w-28">
                                    <a class="flex w-full select-none flex-col items-center" href="{{ category.link|default:'#' }}">
                                        <img class="mx-auto inline-block h-25 h-full w-25 w-full object-contain"
                                             src="{{ category.image_desktop.url }}"
                                             alt="{{ category.title|default:'category' }}-pic">
                                        <p class="mt-2 line-clamp-2 text-center">{{ category.title }}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}

            {% get_media_items 'body_banner' as body_banners %}
            {% if body_banners %}
                <!-- 2 Banner Section -->
                <section class="container py-10">
                    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                        {% for gif in body_banners %}
                            <a href="{{ gif.link|default:'#' }}">
                                <img src="{{ gif.image_desktop.url }}" alt="body-banner-{{ forloop.counter }}" class="rounded-lg">
                            </a>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            {% get_media_items 'platform' as platforms %}
            {% if platforms %}
                <section class="container py-10">
                    <div class="mb-8 text-center text-sm font-semibold lg:text-lg">
                        پلتفرم ها
                    </div>

                    <div class="swiper brand-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-1d2b21dc1106a99aa" aria-live="polite">
                            {% for platform in platforms %}
                                <div class="swiper-slide"
                                     role="group"
                                     aria-label="{{ forloop.counter }} / {{ platforms|length }}"
                                     style="width: 184.8px; margin-left: 20px;">
                                    <a href="{{ platform.link|default:'#' }}"
                                       class="flex flex-col items-center justify-center rounded-lg bg-muted px-5 py-5 hover:bg-muted/70 transition">
                                        {% if platform.image_desktop %}
                                            <img src="{{ platform.image_desktop.url }}"
                                                 class="mb-4 h-[50px] w-auto rounded-lg object-contain"
                                                 alt="{{ platform.title|default:' platform' }}-pic">
                                        {% endif %}
                                        <div class="line-clamp-1 h-5 text-center text-sm font-medium">{{ platform.title }}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="swiper-button-next main-slider-nav-button" tabindex="0" role="button"
                             aria-label="Next slide" aria-controls="swiper-wrapper-1d2b21dc1106a99aa"></div>
                        <div class="swiper-button-prev main-slider-nav-button" tabindex="0" role="button"
                             aria-label="Previous slide" aria-controls="swiper-wrapper-1d2b21dc1106a99aa"></div>

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </section>
            {% endif %}

            {% if most_viewed_services %}
                <section class="container py-10">
                <div class="rounded-lg border bg-muted px-5 shadow lg:px-3">
                    <!-- Title -->
                    <div class="mb-8 mt-6 flex items-center justify-center gap-2 font-medium lg:text-lg xl:text-xl">
                        <div class="i-hugeicons-coupon-percent size-7 stroke-2 text-warning"></div>

                        <div>منتخب خدمات پربازدید</div>
                    </div>
                    <div class="grid grid-cols-2 gap-px bg-secondary lg:grid-cols-6 [&amp;>*]:bg-muted">
                        {% for service in most_viewed_services %}
                            <a href="{{ service.get_absolute_url }}" class="bg flex grow flex-col gap-6 px-4 py-2 lg:px-2">
                                <!-- Image -->
                                <img src="{% if service.image %}{{ service.image.url }}{% else %}/static/images/empty-image.png{% endif %}" alt="{{ service.title }}-image" class="rounded-lg">
                                <div class="gap-x-1 font-bold">
                                    <span class="text-sm font-normal">{{ service.title }}</span>
                                </div>
                                <div class="gap-x-1 text-end font-bold text-primary">
                                    <span class="text-sm font-light">شروع از </span>
                                    <span class="text-sm xs:text-base">{{ service.get_min_price|rounded|three_digits }}</span>
                                    <span class="text-sm font-light">تومان</span>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </section>
            {% endif %}

            {% if most_sold_chunks %}
                <section class="container py-10">
                    <div class="rounded-lg border bg-muted px-5 shadow lg:px-3">
                        <!-- Title -->
                        <div class="mb-8 mt-6 flex items-center justify-center gap-2 font-medium lg:text-lg xl:text-xl">
                            <div class="i-uil-fire size-7 stroke-2 text-warning"></div>

                            <div>خدمات پر فروش</div>
                        </div>
                        <div class="swiper best-sale-hour-slider swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
                            <div class="swiper-wrapper " id="swiper-wrapper-68256f7c944fa539" aria-live="polite">
                                {% for group in most_sold_chunks %}
                                    <div class="swiper-slide swiper-slide-active mr-4" role="group"
                                         aria-label="{{ forloop.counter }} / {{ group|length }}"
                                         style="width: 282.424px; margin-left: 20px;">
                                        {% for service in group %}
                                            <a href="{{ service.get_absolute_url }}"
                                               class="relative flex items-center gap-2 py-3 after:absolute after:left-0 after:top-full after:h-px after:w-2/3 after:rounded-full after:bg-secondary after:content-['']">
                                                <div class="min-w-fit">
                                                    <img src="{% if service.image %}{{ service.image.url }}{% else %}/static/images/empty-image.png{% endif %}" alt="hot sale" class="h-22 w-22 rounded-lg">
                                                </div>

                                                <div>
                                                    <p class="line-clamp-2 text-sm 2xl:text-base mr-2 mb-2">
                                                        {{ service.title }}
                                                    </p>
                                                    <p class="line-clamp-2 text-sm mr-2 mb-2">
                                                        {{ service.provider }}
                                                    </p>
                                                    <p class="line-clamp-2 text-sm mr-2 text-primary">
                                                        شروع از
                                                        {{ service.get_min_price|rounded|three_digits_toman }}
                                                    </p>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </section>
            {% endif %}

            {% if blog %}
                <section class="container py-10">
                    <div class="mb-6 flex items-center justify-between gap-x-6 text-nowrap">
                        <h4 class="font-semiBold lg:text-xl">خواندنی ها</h4>
                        <div class="h-[0.25px] w-full bg-secondary"></div>
                        <a href="{% url 'post_list_page' %}">
                            <div class="flex cursor-pointer items-center gap-x-2 text-sm text-primary duration-200 hover:text-primary/80 lg:text-base">
                                <p>مشاهده همه</p>
                                <i class="i-carbon-chevron-left"></i>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="swiper blog-swiper !px-px pt-4 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
                            <div class="swiper-wrapper py-px" id="swiper-wrapper-7a99b9a7911bec56" aria-live="polite">
                                {% for post in blog %}
                                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 1"
                                         style="width: 235.5px; margin-left: 20px;">
                                        <div class="border-gradient group relative rounded-[--blog-card-radius] p-px [--blog-card-radius:theme(borderRadius.2xl)] before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-[--blog-card-radius] before:content-['']"
                                             style="--x: 371px; --y: -487.96875px;">
                                            <a href="{{ post.get_absolute_url }}"
                                               class="relative block overflow-hidden rounded-[calc(var(--blog-card-radius)-1px)] bg-muted">
                                                <div class="mb-4 bg-border p-2">
                                                    <!-- Image -->
                                                    <div class="overflow-hidden rounded-xl rounded-br-[50px]">
                                                        <img src="{{ post.image.url }}" alt="Blesser"
                                                             class="aspect-video w-full rounded-xl rounded-br-[50px] object-cover duration-500 group-hover:scale-110">
                                                    </div>
                                                </div>
                                                <div class="mb-4 px-2 lg:px-4">
                                                    <p class="line-clamp-2 h-10 text-sm xs:h-12 xs:text-base">
                                                        {{ post.title }}
                                                    </p>
                                                </div>
                                                <!-- Author & Date-->
                                                <div class="mb-4 flex items-center justify-between gap-4 px-2 lg:px-4">
                                                    <!-- Author -->
                                                    <div class="flex items-center gap-2 truncate">
                                                        <div class="size-8">
                                                            <img src="/static/images/user.png" alt="blog author">
                                                        </div>
                                                        <div class="truncate text-sm">{{ post.author }}</div>
                                                    </div>
                                                    <!-- Date -->
                                                    <div class="min-w-fit text-sm text-primary">
                                                        {{ post.created_at|show_date_with_month }}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    </div>
                </section>
            {% endif %}
        </main>
    </div>
{% endblock %}