{% load extra_filters %}
<tr>
    <td>
        <div class="flex items-center gap-2 whitespace-nowrap">
            <div class="relative inline-flex flex-shrink-0 items-center justify-center">
                <span class="relative inline-flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full border">
                    <span class="flex h-6 w-6 items-center justify-center text-text/80">
                        {{ user.id }}
                    </span>
                </span>
            </div>
        </div>
    </td>
    <td>
        <div class="flex items-center gap-2 whitespace-nowrap">
            <div>{{ user.phone_number }}</div>
        </div>
    </td>
    <td>{{ user.national_id|default:'ثبت نشده' }}</td>
    <td>
        <div class="w-fit rounded-full bg-primary/15 px-4 py-1 text-sm ">
            {{ user.get_full_name }}
        </div>
    </td>
    <td>
        <div class="flex items-center gap-1 whitespace-nowrap">
            <span class="font-medium">
                <span class="font-medium">
                    {% if user.is_verified %}
                        <p class="text-success">تایید شده</p>
                    {% else %}
                        <p class="text-warning">تایید نشده</p>
                    {% endif %}
                </span>
            </span>
        </div>
    </td>
    <td>
        <div class="text-text/80">{{ user.date_joined|show_date }}</div>
    </td>
    <td>
        <a href="#" class="i-mynaui-external-link h-6 w-6 text-success duration-200 hover:text-success/80">

        </a>
    </td>
</tr>
