{% extends 'dashboard/_layout.html' %}
{% load widget_tweaks %}

{% block title %}
    محتوای کاربر در ({{ item.service }}) | آسان تب

{% endblock %}

{% block content %}

    <div class="rounded-lg bg-muted shadow">
        <div class="p-5">
            <div class="mb-16 flex justify-between">
                <h1 class="relative w-fit font-medium lg:text-lg">
                    محتوای ارسال شده کاربر برای سفارش: {{ item }}
                    <span class="absolute right-0 top-10 h-[3px] w-full animate-fill-border rounded-full bg-primary"></span>
                </h1>
            </div>

            <div class="space-y-6">
                <div>
                    <label>توضیحات:
                        <textarea disabled rows="4"
                                  class="block w-full mt-2 rounded-lg bg-background border border-border p-2.5 text-sm text-text shadow-sm focus:border-emerald-500 focus:ring-emerald-500 dark:focus:border-emerald-500 dark:focus:ring-emerald-500 dark:placeholder-text/50 sm:text-base">{{ content.description }}</textarea>
                    </label>
                </div>

                <div>
                    <label>موارد ارسالی:</label>
                    {% if files %}
                        <ul class="space-y-2 pt-2">
                            {% for f in files %}
                                <li class="bg-gray-100 dark:bg-gray-800 p-3 rounded flex items-center justify-between">
                                    <a href="{{ f.file.url }}" target="_blank" class="text-primary hover:underline">
                                        📎 {{ f.file.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-sm text-text/60 mt-2">فایلی ارسال نشده.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}