<div class="mb-8">
    <!-- Filter Tabs -->
    <ul class="mb-8 flex flex-wrap items-center justify-center gap-2 md:justify-start" id="order-filter-tab"
        data-tabs-toggle="#order-filter-tab-content" data-tabs-active-classes="btn-primary"
        data-tabs-inactive-classes="btn-secondary"
        role="tablist">
        <li role="presentation">
            <button id="filter-all-tab" data-tabs-target="#filter-all" type="button" role="tab"
                    aria-controls="filter-all"
                    aria-selected="true"
                    class="flex items-center gap-2 rounded-lg px-6 py-2 text-sm btn-primary">
                همه
                <span>{{ order_items|length }}</span>
            </button>
        </li>
        <li role="presentation">
            <button id="filter-pending-tab" data-tabs-target="#filter-pending" type="button" role="tab"
                    aria-controls="filter-pending"
                    aria-selected="false"
                    class="flex items-center gap-2 rounded-lg px-6 py-2 text-sm btn-secondary">
                درحال بررسی
                <span>{{ order_pending|length }}</span>
            </button>
        </li>
        <li role="presentation">
            <button id="filter-accepted-tab" data-tabs-target="#filter-accepted" type="button" role="tab"
                    aria-controls="filter-accepted"
                    aria-selected="false"
                    class="flex items-center gap-2 rounded-lg px-6 py-2 text-sm btn-secondary">
                فعلی
                <span>{{ order_accepted|length }}</span>
            </button>
        </li>
        <li role="presentation">
            <button id="filter-delivered-tab" data-tabs-target="#filter-delivered" type="button" role="tab"
                    aria-controls="filter-delivered"
                    aria-selected="false"
                    class="flex items-center gap-2 rounded-lg px-6 py-2 text-sm btn-secondary">
                تکمیل شده
                <span>{{ order_completed|length }}</span>
            </button>
        </li>
        <li role="presentation">
            <button id="filter-canceled-tab" data-tabs-target="#filter-canceled" type="button" role="tab"
                    aria-controls="filter-canceled"
                    aria-selected="false"
                    class="flex items-center gap-2 rounded-lg px-6 py-2 text-sm btn-secondary">
                لغو شده
                <span>{{ order_rejected|length }}</span>
            </button>
        </li>
    </ul>
    <!-- Tab Content -->
    <div id="order-filter-tab-content">
        <!-- همه -->
        <div class="block" id="filter-all" role="tabpanel" aria-labelledby="filter-all-tab">
            <div class="space-y-4">
                {% if order_items %}
                    {% for order in order_items %}
                        {% include 'dashboard/order/order_item.html' with order=order %}
                    {% endfor %}
                {% else %}
                    <div class="text-center pt-6 text-gray-400">سفارشی یافت نشد.</div>
                {% endif %}
            </div>
        </div>

        <!-- در حال بررسی -->
        <div class="hidden" id="filter-pending" role="tabpanel" aria-labelledby="filter-pending-tab">
            <div class="space-y-4">
                {% if pending_orders %}
                    {% for order in pending_orders %}
                        {% include 'dashboard/order/order_item.html' with order=order %}
                    {% endfor %}
                {% else %}
                    <div class="text-center pt-6 text-gray-400">سفارشی یافت نشد.</div>
                {% endif %}
            </div>
        </div>

        <!-- فعلی -->
        <div class="hidden" id="filter-accepted" role="tabpanel" aria-labelledby="filter-accepted-tab">
            <div class="space-y-4">
                {% if accepted_orders %}
                    {% for order in accepted_orders %}
                        {% include 'dashboard/order/order_item.html' with order=order %}
                    {% endfor %}
                {% else %}
                    <div class="text-center pt-6 text-gray-400">سفارشی یافت نشد.</div>
                {% endif %}
            </div>
        </div>

        <!-- تکمیل شده -->
        <div class="hidden" id="filter-delivered" role="tabpanel" aria-labelledby="filter-delivered-tab">
            <div class="space-y-4">
                {% if completed_orders %}
                    {% for order in completed_orders %}
                        {% include 'dashboard/order/order_item.html' with order=order %}
                    {% endfor %}
                {% else %}
                    <div class="text-center pt-6 text-gray-400">سفارشی یافت نشد.</div>
                {% endif %}
            </div>
        </div>

        <!-- لغو شده -->
        <div class="hidden" id="filter-canceled" role="tabpanel" aria-labelledby="filter-canceled-tab">
            <div class="space-y-4">
                {% if rejected_orders %}
                    {% for order in rejected_orders %}
                        {% include 'dashboard/order/order_item.html' with order=order %}
                    {% endfor %}
                {% else %}
                    <div class="text-center pt-6 text-gray-400">سفارشی یافت نشد.</div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
