{% load widget_tweaks %}
{% load extra_filters %}
<div class="grid grid-cols-2 gap-6 px-5 pb-2">
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="fullname-modal"
                data-modal-toggle="fullname-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.first_name and user.last_name %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}
                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">نام و نام خانوادگی</div>
                        <div class="mr-2 text-text/80">{{ user.get_full_name|default:'ثبت نشده' }}</div>
                    </div>

                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="nCode-modal"
                data-modal-toggle="nCode-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.national_id %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}

                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">کد ملی</div>
                        <div class="mr-2 text-text/80">{{ user.national_id|default:'ثبت نشده' }}</div>
                    </div>
                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="phone-modal"
                data-modal-toggle="phone-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.phone_number %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}
                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">شماره موبایل</div>
                        <div class="mr-2 text-text/80">{{ user.phone_number|default:'ثبت نشده' }}</div>
                    </div>
                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="email-modal"
                data-modal-toggle="email-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.email %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}
                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">ایمیل</div>
                        <div class="mr-2 text-text/80">{{ user.email|default:'ثبت نشده' }}</div>
                    </div>
                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="gender-modal"
                data-modal-toggle="gender-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.gender %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}
                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">جنسبت</div>
                        <div class="mr-2 text-text/80">{{ user.get_gender_display|default:'ثبت نشده' }}</div>
                    </div>
                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="col-span-2 sm:col-span-1">
        <button
                class="w-full"
                type="button"
                data-modal-target="birthdate-modal"
                data-modal-toggle="birthdate-modal"
        >
            <div
                    class="relative rounded-lg border p-4 hover:border-border/50"
            >
                {% if user.birth_date %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                        تکمیل شده
                    </div>
                {% else %}
                    <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                        تکمیل نشده
                    </div>
                {% endif %}
                <div class="flex justify-between">
                    <div class="flex flex-col items-start gap-y-2">
                        <div class="text-text/60">تاریخ تولد</div>
                        <div class="mr-2 text-text/80">{{ user.birth_date|show_date_with_month|default:'ثبت نشده' }}</div>
                    </div>
                    <div class="i-lucide-pen size-5 text-primary"></div>
                </div>
            </div>
        </button>
    </div>
    {% if request.user.is_provider %}
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="username-modal"
                    data-modal-toggle="username-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.username %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            تکمیل شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            تکمیل نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start gap-y-2">
                            <div class="text-text/60">نام کاربری</div>
                            <div class="mr-2 text-text/80">{{ provider.username|default:'ثبت نشده' }}</div>
                        </div>
                        <div class="i-lucide-pen size-5 text-primary"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="bio-modal"
                    data-modal-toggle="bio-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.bio %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            تکمیل شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            تکمیل نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start gap-y-2">
                            <div class="text-text/60">درباره من</div>
                            <div class="mr-2 text-text/80">{{ provider.bio|slice_after_space:40 }}</div>
                        </div>
                        <div class="i-lucide-pen size-5 text-primary"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="national_card_image-modal"
                    data-modal-toggle="national_card_image-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.national_card_image %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            آپلود شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            آپلود نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start justify-center gap-y-2">
                            <div class="text-text/60">عکس کارت ملی</div>
                        </div>
                        {% if provider.national_card_image %}
                            <div class="w-14">
                            <img src="{{ provider.national_card_image.url }}" alt="national card image"
                                 class="w-full h-full object-cover rounded-xl border border-gray-300">
                        {% else %}
                            <div class="w-14">
                                <img src="/static/images/empty-image.png" alt="Current Image"
                                     class="w-full h-full object-cover rounded-xl border border-gray-300">
                            </div>
                        {% endif %}
                        </div>
                    </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="profile_image-modal"
                    data-modal-toggle="profile_image-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.profile_image %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            تکمیل شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            تکمیل نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start justify-center gap-y-2">
                            <div class="text-text/60">عکس پروفایل</div>
                        </div>
                        {% if provider.profile_image %}
                            <div class="w-14">
                                <img src="{{ provider.profile_image.url }}" alt="Current Image"
                                     class="w-full h-full object-cover rounded-xl border border-gray-300">
                            </div>
                        {% else %}
                            <div class="w-14">
                                <img src="/static/images/empty-image.png" alt="Current Image"
                                     class="w-full h-full object-cover rounded-xl border border-gray-300">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="location-modal"
                    data-modal-toggle="location-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.city and provider.province %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            تکمیل شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            تکمیل نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start gap-y-2">
                            <div class="text-text/60">استان و شهر محل سکونت</div>
                            <div class="mr-2 text-text/80">{{ provider.province|default:'ثبت نشده' }}
                                - {{ provider.city|default:'ثبت نشده' }}</div>
                        </div>
                        <div class="i-lucide-pen size-5 text-primary"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="platform-modal"
                    data-modal-toggle="platform-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if provider.instagram_url and provider.telegram_url %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            تکمیل شده
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            تکمیل نشده
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start gap-y-2">
                            <div class="text-text/60">فضای مجازی</div>
                        </div>
                        <div class="i-lucide-pen size-5 text-primary"></div>
                    </div>
                </div>
            </button>
        </div>
        <div class="col-span-2 sm:col-span-1">
            <button
                    class="w-full"
                    type="button"
                    data-modal-target="password-modal"
                    data-modal-toggle="password-modal"
            >
                <div
                        class="relative rounded-lg border p-4 hover:border-border/50"
                >
                    {% if user.has_usable_password %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-success">
                            کلمه عبور برای شما ثبت شده است
                        </div>
                    {% else %}
                        <div class="absolute inset-x-0 -bottom-2.5 mx-auto w-fit rounded-full bg-muted px-3 text-sm font-medium text-yellow-500">
                            کلمه عبور برای شما ثبت نشده است
                        </div>
                    {% endif %}
                    <div class="flex justify-between">
                        <div class="flex flex-col items-start gap-y-2">
                            <div class="text-text/60">کلمه عبور</div>
                        </div>
                        <div class="i-solar-password-broken size-5 text-primary"></div>
                    </div>
                </div>
            </button>
        </div>
    {% endif %}
</div>