{% extends 'dashboard/_layout.html' %}

{% block title %}
    اطلاعات حساب کاربری | آسان تب
{% endblock %}

{% block content %}
    <div class="rounded-lg bg-muted shadow">
        <div class="py-5">
            <div class="mb-16 flex justify-between px-5">
                <h1 class="relative w-fit font-medium lg:text-lg">
                    اطلاعات حساب کاربری شما
                    <span
                            class="absolute right-0 top-10 h-[3px] w-full animate-fill-border rounded-full bg-primary"
                    ></span>
                </h1>
            </div>
            {% include 'dashboard/account/item_list.html' %}
        </div>
    </div>

    {% include 'dashboard/account/modal/name_modal.html' %}
    {% include 'dashboard/account/modal/national_id_modal.html' %}
    {% include 'dashboard/account/modal/phone_modal.html' %}
    {% include 'dashboard/account/modal/email_modal.html' %}
    {% include 'dashboard/account/modal/gender_modal.html' %}
    {% include 'dashboard/account/modal/birthdate_modal.html' %}
    {% if provider %}
        {% include 'dashboard/account/modal/username_modal.html' %}
        {% include 'dashboard/account/modal/bio_modal.html' %}
        {% include 'dashboard/account/modal/location_modal.html' %}
        {% include 'dashboard/account/modal/profile_image_modal.html' %}
        {% include 'dashboard/account/modal/national_card_image_modal.html' %}
        {% include 'dashboard/account/modal/platform_modal.html' %}
        {% include 'dashboard/account/modal/password_modal.html' %}
    {% endif %}

    <script src="/static/scripts/account.js"></script>
{% endblock %}