{% load extra_filters %}
<div class="grid grid-cols-12 gap-2 lg:gap-6">
    <div class="col-span-12 lg:col-span-8">
        <div class="rounded-lg bg-muted shadow">
            <div class="flex items-center justify-between gap-2 p-4">
                <h1 class="flex items-center gap-x-4 text-sm xs:text-base md:text-lg">
                    سبد خرید
                </h1>
                <button class="inline-flex h-9 items-center justify-center gap-x-2 whitespace-nowrap rounded-md px-3 text-sm font-medium text-warning ring-offset-background transition-colors hover:text-warning/70 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
                        type="button">
                    <div class="i-lucide-trash-2 h-5 w-5"></div>
                    <span>حذف همه</span>
                </button>
            </div>
            <ul class="divide-y">
                {% for order in orders.items.all %}
                    <li>
                        <div class="px-4 py-4 sm:py-6">
                            <div class="grid grid-cols-2 items-center justify-start gap-2 xs:grid-cols-3 xs:gap-6 sm:grid-cols-4 xl:grid-cols-6">
                                <div class="relative row-span-2 min-w-fit xs:mx-auto">
                                    <a href="{{ order.service.get_absolute_url }}">
                                        <img src="{{ order.service.image.url }}" alt="{{ order.title }}"
                                             class="h-25 w-25 rounded-lg object-cover sm:h-28 sm:w-28">
                                    </a>
                                    <button class="absolute -top-2 right-0 rounded-lg border bg-muted duration-200 hover:bg-background">
                                        <div class="i-lucide-trash m-2 h-5 w-5 text-warning"></div>
                                    </button>
                                </div>
                                <div class="row-span-2 space-y-4 xs:col-span-2 sm:col-span-3 xl:col-span-5">
                                    <a href="/product/25515/nike-zoom-pegasus-turbo-xx"
                                       class="line-clamp-2 text-sm xs:text-base">{{ order.service.title }}</a>
                                    <div class="space-y-2 text-text/95">
                                        <div class="flex flex-col gap-2">
                                            <div class="flex items-center gap-2">
                                                <div>{{ order.option.title }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center gap-x-2 xs:justify-center">
                                    <div class="flex h-10 w-24 items-center justify-between rounded-lg border px-2 py-1">
                                        <button type="button" class="text-success disabled:text-text/60">
                                            <div class="i-lucide-plus size-6"></div>
                                        </button>
                                        <div class="flex h-5 w-full grow select-none items-center justify-center bg-transparent text-center text-sm text-text outline-none">
                                            1
                                        </div>
                                        <button type="button" class="text-warning disabled:text-text/60">
                                            <div class="i-lucide-minus size-6"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 text-primary xs:col-span-2 sm:col-span-3 lg:text-lg xl:col-span-5">
                                    <span class="font-bold">{{ order.option.unit_price|rounded|three_digits }}</span><span class="text-sm lg:text-base">تومان</span>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {#            <div class="flex items-center justify-center ">#}
            {#                <div class="flex flex-col items-center justify-center gap-4">#}

            {#                    <div class="i-lucide-package-x w-50 h-50"></div>#}
            {#                    <div>سبد خرید شما خالی می‌باشد</div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
    <div class="lg:col-span-4">
        <div class="hidden rounded-lg bg-muted p-4 shadow lg:block">
            <div class="mb-2 divide-y">
                <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/95 lg:text-base">
                        قیمت کالا ها (3)
                    </div>
                    <div class="flex items-center gap-1 text-sm lg:text-base">
                        <div class="font-bold">{{ sum|rounded|three_digits }}</div>
                        <div class="text-xs lg:text-sm">تومان</div>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/95 lg:text-base">
                        تخفیف کالا ها
                    </div>
                    <div class="flex items-center gap-1 text-sm font-medium text-warning lg:text-base">
                        <div class="font-bold">{{ discount_amount|rounded|three_digits }}</div>
                        <div class="text-xs lg:text-sm">تومان</div>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/95 lg:text-base">
                        مبلغ قابل پرداخت
                    </div>
                    <div class="flex items-center gap-1 text-sm text-primary lg:text-base">
                        <div class="font-bold">{{ final_price|rounded|three_digits }}</div>
                        <div class="text-xs lg:text-sm">تومان</div>
                    </div>
                </div>
            </div>
            <div>
                <a href=""
                   class="inline-flex h-11 w-full items-center justify-center gap-x-2 whitespace-nowrap rounded-md bg-primary-btn px-8 text-sm font-medium text-white ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
                    ادامه فرایند خرید
                </a>
            </div>
        </div>
        <div class="fixed inset-x-0 bottom-0 z-20 rounded-t-xl bg-muted px-4 pb-20 pt-4 transition-all duration-300 lg:hidden"
             data-onscrollclass="translate-y-1/2">
            <div>
                <a href=""
                   class="inline-flex h-10 w-full items-center justify-center gap-x-2 whitespace-nowrap rounded-md bg-primary-btn px-4 py-2 text-sm font-medium text-white ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
                    ادامه | {{ final_price|rounded|three_digits }}
                    <span class="text-xs"> تومان </span>
                </a>
            </div>
        </div>
    </div>
</div>