{% extends 'shared/_layout.html' %}


{% block title %}
    سبد خرید | آسان تب
{% endblock %}

{% block content %}
    <main class="flex-grow bg-background pt-[106px]">
        <div class="container pb-28 pt-6 lg:pb-10">
            <!--  Breadcrumb -->
            <div class="mb-2 rounded-lg bg-muted shadow lg:mb-6">
                <ol class="relative grid grid-cols-3 overflow-hidden rounded-lg">
                    <li class="z-10 flex flex-col items-center justify-center gap-2 p-4 text-xs text-primary sm:text-sm md:text-base">
                        <div class="i-lucide-shopping-cart h-6 w-6 md:h-8 md:w-8"></div>
                        <p class="leading-none">سبد خرید</p>
                    </li>
                    <li class="z-10 flex flex-col items-center justify-center gap-2 p-4 text-xs text-primary/50 sm:text-sm md:text-base">
                        <div class="i-lucide-clipboard-pen-line h-6 w-6 md:h-8 md:w-8"></div>

                        <p class="leading-none">شیوه ارسال</p>
                    </li>
                    <li class="z-10 flex flex-col items-center justify-center gap-2 p-4 text-xs text-primary/50 sm:text-sm md:text-base">
                        <div class="i-lucide-credit-card h-6 w-6 md:h-8 md:w-8"></div>

                        <p class="leading-none">پرداخت</p>
                    </li>
                    <!--  for position set value 0 , 33.33% , 66.66%  -->
                    <div class="absolute bottom-0 z-0 h-full w-1/3 touch-none bg-primary/10 transition-all duration-300"
                         style="inset-inline-start: 0"></div>
                </ol>
            </div>
            <!-- Content -->
            {% include 'orders/cart_content.html' %}
        </div>
    </main>
{% endblock %}