{% if not notif.is_read %}
    <li class="notification-card px-2 py-3 {% if not notif.is_read %}unread-notification{% endif %}" data-id="{{ notif.id }}">
        <div class="mb-4 flex items-center gap-x-2 text-primary">
            <div class="i-lucide-bell size-6"></div>
            <p class="md:text-lg">
                {{ notif.title }}
            </p>
        </div>
        <p class="mb-4 text-sm text-text/90 md:text-base">
            {{ notif.message }}
        </p>
        <div class="flex justify-end">
            <a href="{{ notif.link }}" class="btn-primary w-full px-4 py-2 text-sm sm:w-fit">
                {{ notif.notif_type }}
            </a>
        </div>
    </li>
{% elif notif.is_read %}
    <li class="notification-card px-2 py-3 opacity-45">
        <div class="mb-4 flex items-center gap-x-2 text-primary">
            <div class="i-lucide-bell size-6"></div>
            <p class="md:text-lg">
                {{ notif.title }}
            </p>
        </div>
        <p class="mb-4 text-sm text-text/90 md:text-base">
            {{ notif.message }}
        </p>
        <div class="flex justify-end">
            <a href="{{ notif.link }}" class="btn-primary w-full px-4 py-2 text-sm sm:w-fit">
                {{ notif.notif_type }}
            </a>
        </div>
    </li>
{% endif %}