{% if is_paginated %}
    <nav id="pagination" class="!mt-10">
        <div class="flex items-center justify-center gap-1">
            {# First Page #}
            {% if page_obj.number > 1 %}
                <a href="?page=1" aria-label="First Page"
                   class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                    <i class="i-lucide-chevrons-right"></i>
                </a>
            {% endif %}

            {# Previous Page #}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous Page"
                   class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                    <i class="i-lucide-chevron-right"></i>
                </a>
            {% endif %}

            {# Page Numbers #}
            {% for page in page_obj.paginator.page_range %}
                {% if page == 1 or page == page_obj.paginator.num_pages or page >= page_obj.number|add:'-1' and page <= page_obj.number|add:'1' %}
                    {% if page == page_obj.number %}
                        <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border border-primary-btn bg-primary-btn p-0 text-sm text-white">
                            {{ page }}
                        </span>
                    {% else %}
                        <a href="?page={{ page }}"
                           class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                            {{ page }}
                        </a>
                    {% endif %}
                {% elif page == 2 and page_obj.number > 4 or page == page_obj.paginator.num_pages|add:'-1' and page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <div class="flex h-9 w-9 items-center justify-center">
                        <i class="i-lucide-ellipsis text-text/80"></i>
                    </div>
                {% endif %}
            {% endfor %}

            {# Next Page #}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next Page"
                   class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                    <i class="i-lucide-chevron-left"></i>
                </a>
            {% endif %}

            {# Last Page #}
            {% if page_obj.number < page_obj.paginator.num_pages %}
                <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last Page"
                   class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                    <i class="i-lucide-chevrons-left"></i>
                </a>
            {% endif %}
        </div>
    </nav>
{% endif %}
