{% if providers %}
    <thead class="rounded-lg shadow dark:bg-background [&amp;_tr&gt;th:nth-child(1)]:rounded-r-lg [&amp;_tr&gt;th:nth-last-child(1)]:rounded-l-lg [&amp;_tr&gt;th]:p-3 [&amp;_tr&gt;th]:text-right [&amp;_tr&gt;th]:font-medium">
    <tr>
        <th>تصویر</th>
        <th>نام کامل</th>
        <th>کد ملی</th>
        <th>نام کاربری</th>
        <th>وضعیت حساب</th>
        <th>شماره تماس</th>
        <th>محل سکونت</th>
        <th>اخرین بروزرسانی</th>
        <th>ورود</th>
    </tr>
    </thead>
    <tbody class="[&amp;_tr&gt;td:nth-child(1)]:rounded-r-lg [&amp;_tr&gt;td:nth-last-child(1)]:rounded-l-lg [&amp;_tr&gt;td]:whitespace-nowrap [&amp;_tr&gt;td]:p-3 [&amp;_tr]:rounded-lg [&amp;_tr]:shadow [&amp;_tr]:dark:bg-background">
    {% for provider in providers %}
        {% include 'dashboard/users/providers/item.html' with provider=provider %}
    {% endfor %}
    </tbody>
{% else %}
    <div class="flex-container">
        <div class="text-center text-gray-400 text-lg">موردی یافت نشد.</div>
    </div>
{% endif %}