{% extends 'dashboard/_layout.html' %}
{% load extra_filters %}

{% block title %}
    جزئیات سفارش {{ vendor_order.order.tracking_code }}
    | آسان تب
{% endblock %}

{% block content %}
    <div class="rounded-lg bg-muted shadow">
        <div class="p-5">
            <div class="mb-16 flex justify-between">
                <h1 class="relative w-fit font-medium lg:text-lg">
                    جزئیات سفارش {{ vendor_order.order.tracking_code }}
                    <span class="absolute right-0 top-10 h-[3px] w-full animate-fill-border rounded-full bg-primary"></span>
                </h1>
                <a href="{% url 'received_orders_page' %}" class="btn-primary flex items-center gap-1 px-4 py-1.5">
                    برگشت
                    <span class="i-lucide-chevron-left size-5"></span>
                </a>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 mb-12 rounded-lg border p-4 shadow">
                <ul class="divide-y divide-border">
                    {% for item in vendor_order.items.all %}
                        <li>
                            <div class="py-4 sm:py-6">
                                <div class="grid grid-cols-2 items-center gap-2 xs:grid-cols-3 sm:grid-cols-4 xl:grid-cols-6">
                                    <div class="row-span-2 xs:mx-auto">
                                        <a href="{{ item.service.get_absolute_url }}">
                                            <img src="{% if item.service.image %}{{ item.service.image.url }}{% else %}/static/images/empty-image.png{% endif %}" alt="item pic"
                                                 class="size-18 rounded-lg object-cover">
                                        </a>
                                    </div>
                                    <div class="row-span-2 space-y-3 xs:col-span-2 sm:col-span-3 xl:col-span-5">
                                        <a href="{{ item.service.get_absolute_url }}"
                                           class="line-clamp-2 text-sm md:text-base">{{ item.service.title }}</a>
                                        <div class="flex flex-col gap-2">
                                            <div class="flex items-center gap-2">
                                                <div class="opacity-75">نوع تبلیغ:</div>
                                                <div>{{ item.option.title }}</div>
                                            </div>
                                            <div class="flex items-center gap-2">
                                                <div class="opacity-75">تاریخ انتخابی:</div>
                                                <div>{{ item.schedule.display_date|show_date }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-x-2 xs:justify-center">
                                        <div class="flex h-10 w-24 items-center justify-center rounded-lg border px-4 py-1 sm:w-28">
                                            <div class="text-sm font-medium sm:text-lg">{{ item.count }}</div>
                                        </div>
                                    </div>
                                    <div class="row-span-2 xs:col-span-2 sm:col-span-3 xl:col-span-5">
                                        <div class="flex items-center gap-1 text-primary lg:text-lg">
                                            <span class="font-bold">{{ item.final_price|rounded|three_digits }}</span>
                                            <span class="text-sm lg:text-base">تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="flex flex-col gap-y-4 mt-6">
                    {% with style=vendor_order.get_status_style %}
                        <div class="flex items-center gap-x-2 {{ style.color }}">
                            <div>وضعیت:</div>
                            {{ vendor_order.get_status_display }}
                            <div class="{{ style.icon }} size-5"></div>
                            {% if vendor_order.order.status == 'rejected' %}
                                {{ vendor_order.order.rejection_reason }}
                            {% endif %}
                        </div>
                        <div class="relative h-2 w-full rounded-full bg-secondary">
                        <span style="width: {{ style.progress }}%"
                              class="absolute inset-y-0 right-0 rounded-full {{ style.bg }}"></span>
                        </div>
                        <div class="flex items-center justify-between text-sm {{ style.color }} md:text-base">
                            <span>{{ vendor_order.order.updated_at.date|show_date_slash }}</span>
                            <span>ساعت {{ vendor_order.order.updated_at|show_time }}</span>
                        </div>
                    {% endwith %}

                    {% if vendor_order.status == 'accepted' %}
                        <form method="post" id="complete-form" class="flex justify-end mt-14">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="complete">
                            <button type="button"
                                    id="complete-btn"
                                    class="bg-green-500 rounded-md text-white flex items-center gap-1 px-4 py-1.5">
                                سفارش را انجام دادم
                                <span class="i-lucide-check size-5"></span>
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById("complete-btn").addEventListener("click", function () {
            Swal.fire({
                title: "تأیید تکمیل سفارش",
                text: "در صورتی که سفارش کاربر را به طور کامل انجام داده‌اید، این دکمه را بزنید. این اقدام غیرقابل بازگشت است.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#16a34a",
                cancelButtonColor: "#d33",
                confirmButtonText: "بله، سفارش تکمیل شد",
                cancelButtonText: "خیر"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("complete-form").submit();
                }
            });
        });
    </script>

{% endblock %}