{% load extra_filters %}
<div class="mb-16">
    <div class="mb-6 flex items-center justify-between gap-x-6 text-nowrap">
        <h2 class="font-semiBold lg:text-xl">خدمات مرتبط</h2>
        <div class="h-[0.25px] w-full bg-secondary"></div>
    </div>

    <div>
        <div class="swiper product-slider !px-px pt-4 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
            <div class="swiper-wrapper py-px" id="swiper-wrapper-85cfe1fd75fb7f9f" aria-live="polite">
                {% for service in related_services %}
                    <div class="swiper-slide" role="group" aria-label="{{ forloop.counter }} / 7"
                         style="width: 209.667px; margin-left: 20px;">
                        <div class="border-gradient relative rounded-[--product-card-radius] p-px [--product-card-radius:theme(borderRadius.2xl)] before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-[--product-card-radius] before:content-['']"
                             style="--x: 233.15625px; --y: -64px;">
                            <a href="{{ service.url_title }}"
                               class="relative block overflow-hidden rounded-[calc(var(--product-card-radius)-1px)] bg-muted">
                                <div class="mb-4 bg-secondary p-2 lg:p-4">
                                    <!-- Special Sale Percentage  -->
                                    <div class="absolute right-2 top-0 rounded-b-full bg-warning px-1 py-1.5 text-center text-sm font-medium text-white md:text-base">
                                        20%
                                    </div>
                                    <!-- Image -->
                                    <img src="{{ service.image.url }}" alt="{{ service.title }}"
                                         class="aspect-[1/1] w-full rounded-xl object-cover">
                                </div>
                                <div class="mb-1 px-2 lg:px-4">
                                    <p class="line-clamp-2 h-10 text-sm xs:h-12 xs:text-base">
                                        {{ service.title }}
                                    </p>

                                    <div class="gap-x-1 text-end font-bold text-primary">
                                        {#                                        <div class="h-5 text-end text-sm text-text/50 xs:text-base">#}
                                        {#                                            <del></del>#}
                                        {#                                        </div>#}
                                        <span class="text-sm xs:text-base">
                                            {% if min_price and max_price %}
                                                {{ min_price|three_digits }}
                                                {% if min_price < max_price %}
                                                    الی
                                                    {{ max_price|three_digits }}
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        <span class="text-sm font-light">تومان</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
</div>