<!-- Comments -->
<div class="py-6">
    <div id="comment" class="-translate-y-60"></div>
    <div class="relative mb-16 w-fit text-2xl font-medium">
        دیدگاه ها
        <span class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-primary"></span>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
        <!-- Submit new Comment -->
        <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <div class="relative p-2">
                <form class="grid grid-cols-2 gap-4 md:sticky md:top-32">
                    <div class="lg:text-lg">ثبت دیدگاه</div>
                    <div class="col-span-2">
                        <label for="subject" class="sr-only"> عنوان </label>
                        <input placeholder="عنوان" type="text" id="subject"
                               class="mb-2 w-full rounded-lg border bg-transparent px-4 py-2.5 outline-none duration-300 placeholder:duration-300 focus:border-primary focus:placeholder:-translate-x-2">
                        <!-- <div class="text-warning h-5 text-sm"> -->
                        <!-- این فیلد الزامی می باشد-->
                        <!--   </div>-->
                    </div>
                    <div class="col-span-2 mb-2">
                        <div class="mb-4 text-sm text-text/80">
                            این محصول را به دیگران پیشنهاد
                        </div>
                        <fieldset class="flex items-center gap-4">
                            <legend class="sr-only">پیشنهاد</legend>
                            <div class="w-full">
                                <input id="suggest-like" type="radio" name="suggest" value="پیشنهاد میکنم"
                                       class="peer hidden"><label for="suggest-like"
                                                                  class="relative block cursor-pointer rounded-lg border p-2 shadow duration-200 hover:border-border/50 peer-checked:border-success">
                                <div class="flex items-center justify-center gap-x-2 text-success">
                                    <div class="i-lucide-thumbs-up size-5"></div>
                                    <p class="text-sm xs:text-base">میکنم</p>
                                </div>
                            </label>
                            </div>
                            <div class="w-full">
                                <input id="suggest-dislike" type="radio" name="suggest" value="پیشنهاد نمی کنم"
                                       class="peer hidden"><label for="suggest-dislike"
                                                                  class="relative block cursor-pointer rounded-lg border p-2 shadow duration-200 hover:border-border/50 peer-checked:border-warning">
                                <div class="flex items-center justify-center gap-x-2 text-warning">
                                    <div class="i-lucide-thumbs-down size-5"></div>
                                    <p class="text-sm xs:text-base">نمیکنم</p>
                                </div>
                            </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-span-2">
                        <label for="message" class="sr-only">
                            متن دیدگاه
                        </label>
                        <textarea rows="3" placeholder="متن دیدگاه" type="text" id="message"
                                  class="mb-2 w-full rounded-lg border bg-transparent px-4 py-2.5 outline-none duration-300 placeholder:duration-300 focus:border-primary focus:placeholder:-translate-x-2"></textarea>
                        <!--                                            <div class="text-warning h-5 text-sm">-->
                        <!--                                                                                    این فیلد الزامی می باشد-->
                        <!--                                            </div>-->
                    </div>

                    <div class="col-span-2 flex justify-end">
                        <button class="btn-primary px-4 py-2">
                            ثبت دیدگاه
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="order-first col-span-12 mb-10 overflow-hidden md:order-last md:col-span-8 lg:col-span-9">
            <!-- Desktop Comment -->
            <div class="hidden md:block">
                <ul class="mb-8 max-h-[500px] space-y-4 overflow-y-auto pl-4">
                    {% for review in service_reviews %}
                        <li>
                            <div class="py-6">
                                <div class="mb-2 flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <div>{{ review.user }}</div>
                                        <div class="rounded-full bg-success/10 px-4 py-1 text-sm text-success">خریدار</div>
                                        <div class="text-sm text-text/60">{{ review.created_at }}</div>
                                    </div>
                                </div>

                                <div class="mb-4 leading-relaxed xl:text-lg">{% if review.title %}{{ review.title }}{% endif %}</div>
                                {% if review.recommendation == 'good' %}
                                    <div class="mb-6 flex items-center gap-x-4">
                                        <div class="flex items-center gap-x-2 text-success">
                                            <div class="i-lucide-thumbs-up size-6"></div>
                                            پیشنهاد میکنم
                                        </div>
                                    </div>
                                {% elif review.recommendation == 'bad' %}
                                    <div class="mb-6 flex items-center gap-x-4">
                                        <div class="flex items-center gap-x-2 text-warning">
                                            <div class="i-lucide-thumbs-down size-6"></div>
                                            پیشنهاد نمیکنم
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="mb-6 border-b pb-6">
                                    <p class="line-clamp-4 text-sm text-text/80">{{ review.text }}</p>
                                </div>
                                <div class="flex items-center justify-end gap-8">
                                    <div class="text-sm text-text/60">
                                        آیا این دیدگاه برایتان مفید بود؟
                                    </div>
                                    <button class="flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40">
                                        <span class="text-sm">{{ review.like_count }}</span>

                                        <span class="i-lucide-thumbs-up size-6"></span>
                                    </button>
                                    <button class="flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40">
                                        <span class="text-sm">{{ review.dislike_count }}</span>
                                        <span class="i-lucide-thumbs-down size-6"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Mobile Comment -->
            <div class="space-y-4 md:hidden">
                <div class="swiper product-comment-swiper swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl">
                    <div class="swiper-wrapper" id="swiper-wrapper-010fc7aa2d11060170" aria-live="polite"
                         style="transition-duration: 0ms; transition-delay: 0ms;">
                        <div class="swiper-slide">
                            <div class="flex h-64 flex-col rounded-lg border">
                                <div aria-controls="comment-detail-drawer" data-drawer-show="comment-detail-drawer"
                                     data-drawer-placement="bottom" data-drawer-target="comment-detail-drawer"
                                     type="button" class="flex-grow cursor-pointer px-4 pt-6">
                                    <div class="mb-4 flex items-center gap-2">
                                        <div class="truncate">کاربر بلسر</div>
                                        <div class="rounded-full bg-success/10 px-4 py-1 text-sm text-success">
                                            خریدار
                                        </div>
                                    </div>
                                    <div class="mb-4 flex items-center justify-between">
                                        <div class="flex items-center gap-2 text-warning">
                                            <div class="i-lucide-thumbs-down size-5"></div>
                                            پیشنهاد نمیکنم
                                        </div>
                                    </div>
                                    <div class="space-y-2">
                                        <h5 class="truncate text-sm leading-relaxed">
                                            عنوان تست تست
                                        </h5>
                                        <p class="line-clamp-2 text-sm leading-relaxed text-text/80">
                                            متن تست متن تست متن تست متن تست متن تست
                                        </p>
                                    </div>
                                </div>

                                <div class="flex items-center justify-between px-4 pb-6">
                                    <div class="flex items-center gap-6">
                                        <button class="relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40">
                                            <span class="i-lucide-thumbs-up size-6"></span>

                                            <span class="absolute -right-2 top-6 text-sm">
                                      32
                                    </span>
                                        </button>
                                        <button class="relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40">
                                            <span class="i-lucide-thumbs-down size-6"></span>
                                            <span class="absolute -right-2 top-6 text-sm">
                                      76
                                    </span>
                                        </button>
                                    </div>
                                    <div class="text-sm text-text/60">
                                        شنبه 4 خرداد
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <button aria-controls="comment-list-drawer" data-drawer-show="comment-list-drawer"
                                    data-drawer-placement="bottom" data-drawer-target="comment-list-drawer"
                                    type="button" class="flex h-64 w-full items-center justify-center">
                                <div class="flex flex-col items-center justify-center gap-y-4 text-primary">
                                    <div class="rounded-full border border-primary p-2">
                                        <div class="i-lucide-chevron-left size-6"></div>
                                    </div>
                                    <div>مشاهده بیشتر</div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- Comments List Drawer -->
<div
        id="comment-list-drawer"
        class="fixed inset-x-0 bottom-0 z-40 mx-auto h-full max-h-[90dvh] w-full translate-y-full rounded-t-xl border-t bg-muted transition-transform duration-500 lg:max-w-3xl"
        tabindex="-1"
        data-modal-backdrop="static"
        aria-labelledby="comments-more-drawer"
>
    <div class="flex h-full flex-col gap-4">
        <div class="flex items-center justify-between p-4">
            <div class="text-lg font-medium">دیدگاه ها</div>
            <button
                    class="text-text/60 duration-300 hover:text-text/95"
                    data-drawer-hide="comment-list-drawer"
                    type="button"
            >
                <div class="i-lucide-x size-6"></div>

                <span class="sr-only">Close menu</span>
            </button>
        </div>

        <div class="grow overflow-y-auto pb-10">
            <ul class="space-y-6 px-4">
                <li>
                    <div class="flex h-64 flex-col rounded-lg border">
                        <div
                                aria-controls="comment-detail-drawer"
                                data-drawer-show="comment-detail-drawer"
                                data-drawer-placement="bottom"
                                data-drawer-target="comment-detail-drawer"
                                type="button"
                                class="flex-grow cursor-pointer px-4 pt-6"
                        >
                            <div class="mb-4 flex items-center gap-2">
                                <div class="truncate">کاربر ما</div>
                                <div
                                        class="rounded-full bg-success/10 px-4 py-1 text-sm text-success"
                                >
                                    خریدار
                                </div>
                            </div>
                            <div class="mb-4 flex items-center gap-x-2 text-warning">
                                <div class="i-lucide-thumbs-down size-5"></div>
                                پیشنهاد نمیکنم
                            </div>
                            <div class="space-y-2">
                                <h5 class="truncate text-sm leading-relaxed">
                                    عنوان تست تست
                                </h5>
                                <p
                                        class="line-clamp-2 text-sm leading-relaxed text-text/80"
                                >
                                    متن تست متن تست متن تست متن تست متن تست
                                </p>
                            </div>
                        </div>

                        <div class="flex items-center justify-between px-4 pb-6">
                            <div class="flex items-center gap-6">
                                <button
                                        class="relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                >
                                    <span class="i-lucide-thumbs-up size-6"></span>

                                    <span class="absolute -right-2 top-6 text-sm"> 32 </span>
                                </button>
                                <button
                                        class="relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                >
                                    <span class="i-lucide-thumbs-down size-6"></span>
                                    <span class="absolute -right-2 top-6 text-sm"> 76 </span>
                                </button>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="text-xs text-text/60">شنبه 4 خرداد</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex h-64 flex-col rounded-lg border">
                        <div
                                aria-controls="comment-detail-drawer"
                                data-drawer-show="comment-detail-drawer"
                                data-drawer-placement="bottom"
                                data-drawer-target="comment-detail-drawer"
                                type="button"
                                class="flex-grow cursor-pointer px-4 pt-6"
                        >
                            <div class="mb-4 flex items-center gap-2">
                                <div class="truncate">کاربر بلسر</div>
                                <div
                                        class="rounded-full bg-success/10 px-4 py-1 text-sm text-success"
                                >
                                    خریدار
                                </div>
                            </div>
                            <div class="mb-4 flex items-center gap-x-2 text-warning">
                                <div class="i-lucide-thumbs-down size-5"></div>
                                پیشنهاد نمیکنم
                            </div>
                            <div class="space-y-2">
                                <h5 class="truncate text-sm leading-relaxed">
                                    عنوان تست تست
                                </h5>
                                <p
                                        class="line-clamp-2 text-sm leading-relaxed text-text/80"
                                >
                                    متن تست متن تست متن تست متن تست متن تست
                                </p>
                            </div>
                        </div>

                        <div class="flex items-center justify-between px-4 pb-6">
                            <div class="flex items-center gap-6">
                                <button
                                        class="relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                >
                                    <span class="i-lucide-thumbs-up size-6"></span>

                                    <span class="absolute -right-2 top-6 text-sm"> 32 </span>
                                </button>
                                <button
                                        class="relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                >
                                    <span class="i-lucide-thumbs-down size-6"></span>
                                    <span class="absolute -right-2 top-6 text-sm"> 76 </span>
                                </button>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="text-xs text-text/60">شنبه 4 خرداد</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex h-64 flex-col rounded-lg border">
                        <div
                                aria-controls="comment-detail-drawer"
                                data-drawer-show="comment-detail-drawer"
                                data-drawer-placement="bottom"
                                data-drawer-target="comment-detail-drawer"
                                type="button"
                                class="flex-grow cursor-pointer px-4 pt-6"
                        >
                            <div class="mb-4 flex items-center gap-2">
                                <div class="truncate">کاربر بلسر</div>
                                <div
                                        class="rounded-full bg-success/10 px-4 py-1 text-sm text-success"
                                >
                                    خریدار
                                </div>
                            </div>
                            <div class="mb-4 flex items-center gap-x-2 text-warning">
                                <div class="i-lucide-thumbs-down size-5"></div>
                                پیشنهاد نمیکنم
                            </div>
                            <div class="space-y-2">
                                <h5 class="truncate text-sm leading-relaxed">
                                    عنوان تست تست
                                </h5>
                                <p
                                        class="line-clamp-2 text-sm leading-relaxed text-text/80"
                                >
                                    متن تست متن تست متن تست متن تست متن تست
                                </p>
                            </div>
                        </div>

                        <div class="flex items-center justify-between px-4 pb-6">
                            <div class="flex items-center gap-6">
                                <button
                                        class="relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                >
                                    <span class="i-lucide-thumbs-up size-6"></span>

                                    <span class="absolute -right-2 top-6 text-sm"> 32 </span>
                                </button>
                                <button
                                        class="relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                >
                                    <span class="i-lucide-thumbs-down size-6"></span>
                                    <span class="absolute -right-2 top-6 text-sm"> 76 </span>
                                </button>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="text-xs text-text/60">شنبه 4 خرداد</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex h-64 flex-col rounded-lg border">
                        <div
                                aria-controls="comment-detail-drawer"
                                data-drawer-show="comment-detail-drawer"
                                data-drawer-placement="bottom"
                                data-drawer-target="comment-detail-drawer"
                                type="button"
                                class="flex-grow cursor-pointer px-4 pt-6"
                        >
                            <div class="mb-4 flex items-center gap-2">
                                <div class="truncate">کاربر بلسر</div>
                                <div
                                        class="rounded-full bg-success/10 px-4 py-1 text-sm text-success"
                                >
                                    خریدار
                                </div>
                            </div>
                            <div class="mb-4 flex items-center gap-x-2 text-warning">
                                <div class="i-lucide-thumbs-down size-5"></div>
                                پیشنهاد نمیکنم
                            </div>
                            <div class="space-y-2">
                                <h5 class="truncate text-sm leading-relaxed">
                                    عنوان تست تست
                                </h5>
                                <p
                                        class="line-clamp-2 text-sm leading-relaxed text-text/80"
                                >
                                    متن تست متن تست متن تست متن تست متن تست
                                </p>
                            </div>
                        </div>

                        <div class="flex items-center justify-between px-4 pb-6">
                            <div class="flex items-center gap-6">
                                <button
                                        class="relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                >
                                    <span class="i-lucide-thumbs-up size-6"></span>

                                    <span class="absolute -right-2 top-6 text-sm"> 32 </span>
                                </button>
                                <button
                                        class="relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                >
                                    <span class="i-lucide-thumbs-down size-6"></span>
                                    <span class="absolute -right-2 top-6 text-sm"> 76 </span>
                                </button>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="text-xs text-text/60">شنبه 4 خرداد</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
