{% load extra_filters %}
<!-- Search Result -->
<div class="border-gradient relative rounded-[--product-card-radius] p-px [--product-card-radius:theme(borderRadius.2xl)] before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-[--product-card-radius] before:content-['']"
     style="--x: 681.71875px; --y: -84px;">

    <div class="relative block overflow-hidden rounded-[calc(var(--product-card-radius)-1px)] bg-muted">
        <div onclick="window.open('{{ service.slug }}')"
             class="mb-4 bg-secondary p-2 lg:p-4 cursor-pointer">
            <!-- Special Sale Percentage  -->
            {#            <div class="absolute right-2 top-0 rounded-b-full bg-warning px-1 py-1.5 text-center text-sm font-medium text-white md:text-base">#}
            {#                20%#}
            {#            </div>#}
            <!-- Image -->
            <img src="{% if service.image %}{{ service.image.url }}{% else %}/static/images/empty-image.png{% endif %}"
                 draggable="false" alt="service image"
                 class="aspect-[1/1] w-full rounded-xl object-cover">
        </div>
        <div class="mb-2 px-2 lg:px-4">
            <p class="line-clamp-2 h-8 text-sm xs:text-lg">
                {{ service.title }}
            </p>
            <a href="{% url 'provider_detail_page' slug=service.provider.username %}"
               class="flex line-clamp-2 h-6 text-xs xs:h-12 xs:text-base text-primary hover:text-primary/80 duration-200">
                <i class="i-lucide-user-round size-5"></i>
                <p class="mr-1">{{ service.provider }}</p>
            </a>
            <div class="gap-x-1 text-end font-bold text-primary">
                <span class="text-sm xs:text-base">
                {% if service.min_price and service.max_price %}
                    {{ service.min_price|three_digits }}
                    {% if service.min_price < service.max_price %}
                        <span class="text-sm font-normal">الی</span>
                        {{ service.max_price|three_digits }}
                    {% endif %}
                {% endif %}
            </span>
                <span class="text-sm font-light">تومان</span>
            </div>
        </div>

        {% if request.user.is_superuser %}
            <form method="POST" action="{% url 'toggle_unique' service.id %}" class="border-t">
                {% csrf_token %}
                <label class="flex cursor-pointer items-center py-3 px-4">
                    <div class="justify-between relative inline-flex cursor-pointer items-center">
                        <div>کالای ویژه</div>
                        <div>
                            <input class="peer sr-only" type="checkbox" onchange="this.form.submit()"
                                   {% if service.is_unique %}checked{% endif %}>
                            <div class="peer h-6 w-11 bg-black/40 mr-4 rounded-full bg-background after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:bg-muted after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full"></div>
                        </div>
                    </div>
                </label>
            </form>
        {% endif %}
    </div>
</div>