<div class="rounded-lg bg-muted px-4 py-6 shadow-md">
    <!-- Tabs -->
    <ul class="mb-6 flex justify-between gap-x-2 border-b text-center text-sm font-medium xs:justify-start xs:gap-x-4 xs:text-base">
        <li>
            <div data-scroll-to="specs"
                 class="inline-block cursor-pointer rounded-t-lg border-b-2 border-transparent px-2 pb-2 duration-200 hover:text-primary">
                جزئیات
            </div>
        </li>
        <li>
            <div data-scroll-to="comment"
                 class="inline-block cursor-pointer rounded-t-lg border-b-2 border-transparent px-2 pb-2 duration-200 hover:text-primary">
                دیدگاه ها
            </div>
        </li>
    </ul>
    <div class="divide-y divide-border">
        <!-- Specs -->
        <div class="py-6">
            <div id="specs" class="-translate-y-60"></div>
            <div class="relative mb-16 w-fit text-2xl font-medium">
                مشخصات
                <span class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-primary"></span>
            </div>
            <div class="prose mb-4 max-w-full overflow-hidden dark:prose-invert">
                <ul class="w-full space-y-6 text-sm">
                    {% if service.locations.exists %}
                        <li class="grid grid-cols-3 gap-x-2 lg:grid-cols-5">
                            <div class="col-span-1 text-text/60">موقعیت مکانی</div>
                            <div class="col-span-2 border-b pb-4 text-text/95 lg:col-span-4">
                                <ul class="space-y-4">
                                    <li>
                                        {% with service.locations.all as locs %}
                                            {% for location in locs|slice:":6" %}
                                                {{ location.name_fa }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% if locs.length > 6 %}و..{% endif %}
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if service.profession.exists %}
                        <li class="grid grid-cols-3 gap-x-2 lg:grid-cols-5">
                            <div class="col-span-1 text-text/60">جامعه هدف</div>
                            <div class="col-span-2 border-b pb-4 text-text/95 lg:col-span-4">
                                <ul class="space-y-4">
                                    <li>
                                        {% for pro in service.profession.all %}
                                            {{ pro.title }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if service.options.exists %}
                        <li class="grid grid-cols-3 gap-x-2 lg:grid-cols-5">
                            <div class="col-span-1 text-text/60">نوع انتشار</div>
                            <div class="col-span-2 border-b pb-4 text-text/95 lg:col-span-4">
                                <ul class="space-y-4">
                                    <li>
                                        {% with service.options.all as options %}
                                            {% for option in options|slice:":10" %}
                                                {{ option.title }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% if options|length > 10 %}و..{% endif %}
                                        {% endwith %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if service.profession.exists %}
                        <li class="grid grid-cols-3 gap-x-2 lg:grid-cols-5">
                            <div class="col-span-1 text-text/60">جنس زیره</div>
                            <div class="col-span-2 text-text/95 lg:col-span-4">
                                <ul class="space-y-4">
                                    <li>
                                        {{ service.platform.title }}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% include 'services/components/service_review.html' %}
    </div>
</div>
