{% load extra_filters %}
{% load widget_tweaks %}
<!-- Comments -->
<div class="py-6">
    {#    <div id="comment" class="-translate-y-60"></div>#}
    <div id="reviews-section" class="relative mb-16 w-fit text-2xl font-medium">
        دیدگاه ها
        <span class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-primary"></span>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
        <!-- Submit new Comment -->
        <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <div class="relative p-2">
                <div id="review-form" class="grid grid-cols-2 gap-4 md:sticky md:top-32">
                    {% csrf_token %}
                    <div class="lg:text-lg">ثبت دیدگاه</div>

                    <div class="col-span-2">
                        <label for="subject" class="sr-only">عنوان</label>
                        <input name="title" type="text" id="subject" placeholder="عنوان"
                               class="mb-2 w-full rounded-lg border bg-transparent px-4 py-2.5 outline-none duration-300 focus:border-primary placeholder:duration-300 focus:placeholder:-translate-x-2">
                        <p id="review-title-error" class="h-5 text-sm text-warning hidden"></p>
                    </div>

                    <div class="col-span-2 mb-2">
                        <div class="mb-4 text-sm text-text/80">این محصول را به دیگران پیشنهاد</div>
                        <fieldset class="flex items-center gap-4">
                            <div class="w-full">
                                <input type="radio" name="recommendation" id="suggest-like" value="good" class="peer hidden">
                                <label for="suggest-like"
                                       class="peer-checked:border-success block w-full p-2 border rounded-lg cursor-pointer">
                                    <div class="flex items-center justify-center gap-2 text-success">
                                        <div class="i-lucide-thumbs-up size-5"></div>
                                        <span>میکنم</span>
                                    </div>
                                </label>
                            </div>

                            <div class="w-full">
                                <input type="radio" name="recommendation" id="suggest-dislike" value="bad" class="peer hidden">
                                <label for="suggest-dislike"
                                       class="peer-checked:border-warning block w-full p-2 border rounded-lg cursor-pointer">
                                    <div class="flex items-center justify-center gap-2 text-warning">
                                        <div class="i-lucide-thumbs-down size-5"></div>
                                        <span>نمیکنم</span>
                                    </div>
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-span-2">
                        <label for="message" class="sr-only">متن دیدگاه</label>
                        <textarea name="text" id="message" rows="3" placeholder="متن دیدگاه"
                                  class="mb-2 w-full rounded-lg border bg-transparent px-4 py-2.5 outline-none duration-300 focus:border-primary placeholder:duration-300 focus:placeholder:-translate-x-2"></textarea>
                        <p id="review-text-error" class="h-5 text-sm text-warning hidden"></p>
                    </div>

                    <div class="col-span-2 flex justify-end">
                        <button onclick="sendServiceReview({{ service.id }})" type="submit" class="btn-primary px-4 py-2">ثبت دیدگاه
                        </button>
                    </div>

                    <p class="h-5 text-sm text-warning" id="review-error-box"></p>
                </div>
                {% if not request.user.is_authenticated %}
                    <div class="absolute inset-0 flex flex-col items-center justify-center gap-4 rounded-lg backdrop-blur-sm">
                        <h5 class="text-center pb-4">برای ثبت دیدگاه ابتدا وارد حساب کاربری شوید.</h5>
                        <a href="{% url 'auth_page' %}" class="btn-primary px-4 py-2">
                            ورود / ثبت نام
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="order-first col-span-12 mb-10 overflow-hidden md:order-last md:col-span-8 lg:col-span-9">
            <!-- Desktop Comment -->
            <div class="hidden md:block">
                <ul class="mb-8 max-h-[500px] space-y-4 overflow-y-auto pl-4">
                    {% for review in service_reviews %}
                        <li>
                            <div class="py-6">
                                <div class="mb-4 flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <div>{{ review.user }}</div>
                                        <div class="rounded-full bg-success/10 px-4 py-1 text-sm text-success">خریدار</div>
                                        <div class="text-sm text-text/60">{{ review.created_at|show_date }}</div>
                                    </div>
                                </div>

                                <div class="mb-4 leading-relaxed xl:text-lg">{% if review.title %}{{ review.title }}{% endif %}</div>
                                {% if review.recommendation == 'good' %}
                                    <div class="mb-6 flex items-center gap-x-4">
                                        <div class="flex items-center gap-x-2 text-success">
                                            <div class="i-lucide-thumbs-up size-6"></div>
                                            پیشنهاد میکنم
                                        </div>
                                    </div>
                                {% elif review.recommendation == 'bad' %}
                                    <div class="mb-6 flex items-center gap-x-4">
                                        <div class="flex items-center gap-x-2 text-warning">
                                            <div class="i-lucide-thumbs-down size-6"></div>
                                            پیشنهاد نمیکنم
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="pb-4">
                                    <p class="line-clamp-4 text-sm text-text/80">{{ review.text }}</p>
                                </div>
                                <div class="flex items-center justify-end gap-8 border-b pb-4">
                                    <div class="text-sm text-text/60">
                                        آیا این دیدگاه برایتان مفید بود؟
                                    </div>

                                    <button type="button"
                                            onclick="toggleReaction({{ review.id }}, '{{ csrf_token }}', 'like')"
                                            class="reaction-btn relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                            data-review-id="{{ review.id }}" data-type="like">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if review.id in liked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="like-icon lucide lucide-thumbs-up-icon">
                                            <path d="M7 10v12"></path>
                                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"></path>
                                        </svg>
                                        <span class="like-count text-sm">{{ review.like_count }}</span>
                                    </button>

                                    <!-- Dislike Button -->
                                    <button type="button"
                                            onclick="toggleReaction({{ review.id }}, '{{ csrf_token }}', 'dislike')"
                                            class="reaction-btn relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                            data-review-id="{{ review.id }}" data-type="dislike">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if review.id in disliked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="dislike-icon lucide lucide-thumbs-down-icon">
                                            <path d="M17 14V2"></path>
                                            <path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"></path>
                                        </svg>
                                        <span class="dislike-count text-sm">{{ review.dislike_count }}</span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <div class="pt-[106px]">
                            <h1 class="text-lg flex justify-center pb-6">
                                دیدگاهی برای
                                <p class="ml-2 mr-2 text-primary">{{ service.title }}</p>
                                ثبت نشده است.
                            </h1>
                            <p class="text-xl text-center">اولین نفری باشید که دیدگاهی را ثبت میکند.</p>
                        </div>
                    {% endfor %}
                </ul>
            </div>

            <!-- Mobile Comment -->
            <div class="space-y-4 md:hidden">
                <div class="swiper product-comment-swiper swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl">
                    <div class="swiper-wrapper" id="swiper-wrapper-010fc7aa2d11060170" aria-live="polite"
                         style="transition-duration: 0ms; transition-delay: 0ms;">
                        <div class="swiper-slide">
                            <div class="flex h-64 flex-col rounded-lg border">
                                {% if last_review %}
                                    <div aria-controls="comment-detail-drawer" data-drawer-show="comment-detail-drawer"
                                         data-drawer-placement="bottom" data-drawer-target="comment-detail-drawer"
                                         type="button" class="flex-grow cursor-pointer px-4 pt-6">
                                        <div class="mb-4 flex items-center gap-2">
                                            <div class="truncate">{{ last_review.user }}</div>
                                            <div class="rounded-full bg-success/10 px-4 py-1 text-sm text-success">
                                                خریدار
                                            </div>
                                        </div>
                                        <div class="mb-4 flex items-center justify-between">
                                            {% if last_review.recommendation == 'good' %}
                                                <div class="flex items-center gap-2 text-success">
                                                    <div class="i-lucide-thumbs-up size-5"></div>
                                                    پیشنهاد میکنم
                                                </div>
                                            {% elif last_review.recommendation == 'bad' %}
                                                <div class="flex items-center gap-2 text-warning">
                                                    <div class="i-lucide-thumbs-down size-5"></div>
                                                    پیشنهاد نمیکنم
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="space-y-2">
                                            <h5 class="truncate text-sm leading-relaxed">{{ last_review.title }}</h5>
                                            <p class="line-clamp-2 text-sm leading-relaxed text-text/80">{{ last_review.text }}</p>
                                        </div>
                                    </div>

                                    <div class="flex items-center justify-between px-4 pb-6">
                                        <div class="flex items-center gap-6">
                                    <button type="button"
                                            onclick="toggleReaction({{ last_review.id }}, '{{ csrf_token }}', 'like')"
                                            class="reaction-btn relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                            data-review-id="{{ last_review.id }}" data-type="like">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if last_review.id in liked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="like-icon lucide lucide-thumbs-up-icon">
                                            <path d="M7 10v12"></path>
                                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"></path>
                                        </svg>
                                        <span class="like-count text-sm">{{ last_review.like_count }}</span>
                                    </button>

                                    <!-- Dislike Button -->
                                    <button type="button"
                                            onclick="toggleReaction({{ last_review.id }}, '{{ csrf_token }}', 'dislike')"
                                            class="reaction-btn relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                            data-review-id="{{ last_review.id }}" data-type="dislike">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if last_review.id in disliked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="dislike-icon lucide lucide-thumbs-down-icon">
                                            <path d="M17 14V2"></path>
                                            <path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"></path>
                                        </svg>
                                        <span class="dislike-count text-sm">{{ last_review.dislike_count }}</span>
                                    </button>
                                        </div>
                                        <div class="text-sm text-text/60">
                                            {{ last_review.created_at|show_date }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if service_reviews|length > 1 %}
                            <div class="swiper-slide">
                                <button aria-controls="comment-list-drawer" data-drawer-show="comment-list-drawer"
                                        data-drawer-placement="bottom" data-drawer-target="comment-list-drawer"
                                        type="button" class="flex h-64 w-full items-center justify-center">
                                    <div class="flex flex-col items-center justify-center gap-y-4 text-primary">
                                        <div class="rounded-full border border-primary p-2">
                                            <div class="i-lucide-chevron-left size-6"></div>
                                        </div>
                                        <div>مشاهده همه</div>
                                    </div>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- Comments List Drawer -->
<div
        id="comment-list-drawer"
        class="fixed inset-x-0 bottom-0 z-40 mx-auto h-full max-h-[90dvh] w-full translate-y-full rounded-t-xl border-t bg-muted transition-transform duration-500 lg:max-w-3xl"
        tabindex="-1"
        data-modal-backdrop="static"
        aria-labelledby="comments-more-drawer"
>
    <div class="flex h-full flex-col gap-4">
        <div class="flex items-center justify-between p-4">
            <div class="text-lg font-medium">دیدگاه ها</div>
            <button
                    class="text-text/60 duration-300 hover:text-text/95"
                    data-drawer-hide="comment-list-drawer"
                    type="button"
            >
                <div class="i-lucide-x size-6"></div>

                <span class="sr-only">Close menu</span>
            </button>
        </div>

        <div class="grow overflow-y-auto pb-10">
            <ul class="space-y-6 px-4">
                {% for review in service_reviews %}
                    <li>
                        <div class="flex h-64 flex-col rounded-lg border">
                            <div
                                    aria-controls="comment-detail-drawer"
                                    data-drawer-show="comment-detail-drawer"
                                    data-drawer-placement="bottom"
                                    data-drawer-target="comment-detail-drawer"
                                    type="button"
                                    class="flex-grow cursor-pointer px-4 pt-6"
                            >
                                <div class="mb-4 flex items-center gap-2">
                                    <div class="truncate">{{ review.user }}</div>
                                    <div
                                            class="rounded-full bg-success/10 px-4 py-1 text-sm text-success"
                                    >
                                        خریدار
                                    </div>
                                </div>
                                {% if review.recommendation == 'good' %}
                                    <div class="mb-4 flex items-center gap-x-2 text-warning">
                                        <div class="i-lucide-thumbs-up size-5"></div>
                                        پیشنهاد میکنم
                                    </div>
                                {% elif review.recommendation == 'good' %}
                                    <div class="mb-4 flex items-center gap-x-2 text-warning">
                                        <div class="i-lucide-thumbs-down size-5"></div>
                                        پیشنهاد نمیکنم
                                    </div>
                                {% endif %}
                                <div class="space-y-2">
                                    <h5 class="truncate text-sm leading-relaxed">{{ review.title }}</h5>
                                    <p
                                            class="line-clamp-2 text-sm leading-relaxed text-text/80"
                                    >
                                        {{ review.text }}
                                    </p>
                                </div>
                            </div>

                            <div class="flex items-center justify-between px-4 pb-6">
                                <div class="flex items-center gap-6">
                                    <!-- Like Button -->
                                    <button type="button"
                                            onclick="toggleReaction({{ review.id }}, '{{ csrf_token }}', 'like')"
                                            class="reaction-btn relative flex items-center gap-2 text-success duration-300 hover:text-success/80 disabled:text-success/50 disabled:hover:text-success/40"
                                            data-review-id="{{ review.id }}" data-type="like">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if review.id in liked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="like-icon lucide lucide-thumbs-up-icon">
                                            <path d="M7 10v12"></path>
                                            <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z"></path>
                                        </svg>
                                        <span class="like-count text-sm">{{ review.like_count }}</span>
                                    </button>

                                    <!-- Dislike Button -->
                                    <button type="button"
                                            onclick="toggleReaction({{ review.id }}, '{{ csrf_token }}', 'dislike')"
                                            class="reaction-btn relative flex items-center gap-2 text-warning duration-300 hover:text-warning/80 disabled:text-warning/50 disabled:hover:text-warning/40"
                                            data-review-id="{{ review.id }}" data-type="dislike">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="{% if review.id in disliked_ids %}currentColor{% else %}none{% endif %}"
                                             stroke="currentColor" stroke-width="1.75" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="dislike-icon lucide lucide-thumbs-down-icon">
                                            <path d="M17 14V2"></path>
                                            <path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22a3.13 3.13 0 0 1-3-3.88Z"></path>
                                        </svg>
                                        <span class="dislike-count text-sm">{{ review.dislike_count }}</span>
                                    </button>

                                </div>
                                <div class="flex items-center gap-2">
                                    <div class="text-xs text-text/60">{{ review.created_at|show_date }}</div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
