{% load static %}
{% load render_partial %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% render_partial 'home.views.site_header_component' %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "آسان تب",
            "url": "https://asantab.com",
        {#            "description": "دیجی اوند، مرجع تخصصی کیف و کوله های لپ تاپ، ارائه‌دهنده طیف وسیعی از برندهای معتبر با قیمت‌های رقابتی و مناسب برای تجربه خریدی مطمئن و آسان."#}
        }
    </script>
    <script src="{% static 'scripts/count.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="keywords" content="فروشگاه آنلاین, خدمات تبلیغات, تبلیغ آسان">
    <meta name="author" content="آسان تب">
    {% include 'shared/header_ref.html' %}
    {% block extra_header %}{% endblock %}
</head>
<body dir="rtl">
<div class="flex.min-h-screen.flex-col">
    <div id="desktop-mega-menu-overlay" class="fixed inset-0 z-20 bg-black/40 backdrop-blur-md hidden"></div>
    <main class="flex-grow bg-background pt-[106px]">
        <div class="container grid grid-cols-12 gap-4 pb-28 pt-10 lg:pb-10">
            <!-- Sidebar -->
            <div class="col-span-12 lg:col-span-3">
                <!-- Profile, Edit, Menu -->
                <div class="mb-4 rounded-lg bg-muted p-4 shadow">
                    <!-- Desktop -->
                    {% include 'dashboard/sidebar/_desktop.html' %}
                    <!-- Mobile -->
                    {% include 'dashboard/sidebar/_mobile.html' %}
                </div>

                <!-- Desktop Menu -->
                {% render_partial 'dashboard.views.dashboard_menu' %}
            </div>
            <!-- Content -->
            <div class="col-span-12 lg:col-span-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <div data-onscrollclass="translate-y-full" class="fixed inset-x-0 bottom-0 z-20 bg-muted duration-300 lg:hidden">
        <div class="container flex items-center text-sm">
            <div class="w-1/4 border-b-2 border-primary py-1 font-medium text-primary">
                <a href="{% url 'index_page' %}" class="flex flex-col items-center justify-center">
                    <i class="i-solar-home-smile-linear size-6 items-center justify-center"></i>
                    <p class="pt-2 text-xs xs:text-sm">خانه</p>
                </a>
            </div>
            <div class="w-1/4 py-1">
                <a href="{% url 'services_list_page' %}" class="flex flex-col items-center justify-center">
                    <i class="i-mingcute-shopping-bag-3-line size-6"></i>
                    <p class="pt-2 text-xs xs:text-sm">فروشگاه</p>
                </a>
            </div>
            <div class="w-1/4 py-1">
                <a href="{% url 'user_cart_page' %}" class="flex flex-col items-center justify-center">
                    <i class="i-lucide-shopping-cart size-6"></i>
                    <p class="pt-2 text-xs xs:text-sm">سبد خرید</p>
                </a>
            </div>
            <div class="w-1/4 py-1">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account_info_page' %}" class="flex flex-col items-center justify-center">
                        <i class="i-lucide-user-round size-6"></i>
                        <p class="pt-2 text-xs xs:text-sm">حساب من</p>
                    </a>
                {% else %}
                    <a href="{% url 'auth_page' %}" class="flex flex-col items-center justify-center">
                        <i class="i-lucide-user-round size-6"></i>
                        <p class="pt-2 text-xs xs:text-sm">ورود</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="profile-drawer"
     class="fixed inset-x-0 bottom-0 z-40 max-h-[80dvh] w-full rounded-t-xl border-t bg-muted transition-transform duration-500 left-0 right-0 translate-y-full"
     tabindex="-1" aria-labelledby="profile-drawer" aria-hidden="true">
    <div class="flex h-full max-h-[80dvh] flex-col gap-4">
        <!-- Items -->
        <div class="grow overflow-y-auto">
            <ul class="space-y-2 p-4 pl-2">
                <li>
                    <a href="{% url 'dashboard_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg bg-primary/5 p-4 text-primary duration-300">
                        <div class="flex items-center gap-4">
                            <div class="i-solar-home-smile-linear size-6"></div>
                            پیشخوان
                        </div>
                    </a>
                </li>
                {% if request.user.is_provider %}
                    <li>
                        <a href="{% url 'provider_service_list' %}"
                           class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == 'provider_service_list' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="lucide lucide-package-icon lucide-package">
                                    <path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"/>
                                    <path d="M12 22V12"/>
                                    <polyline points="3.29 7 12 12 20.71 7"/>
                                    <path d="m7.5 4.27 9 5.15"/>
                                </svg>
                                خدمت های من
                            </div>
                            <div class="notif-badge h-6 w-6 rounded-full bg-primary-btn text-center leading-6 text-white"></div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'received_orders_page' %}"
                           class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == '' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="lucide lucide-store-icon lucide-store">
                                    <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"/>
                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/>
                                    <path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"/>
                                    <path d="M2 7h20"/>
                                    <path d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"/>
                                </svg>
                                سفارشات دریافتی
                            </div>
                            <div class="order-item-badge h-6 w-6 rounded-full bg-yellow-500 text-center leading-6 text-white dark:bg-yellow-600"></div>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'orders_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == '' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                        <div class="flex items-center gap-4">
                            <div class="i-mingcute-shopping-bag-3-line size-6"></div>
                            {% if request.user.is_provider %}
                                خرید های من
                            {% else %}
                                سفارش ها
                            {% endif %}
                        </div>
                        <div class="order-item-badge h-6 w-6 rounded-full bg-yellow-500 text-center leading-6 text-white dark:bg-yellow-600"></div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notifications_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4 text-text/80 duration-300 hover:text-primary">
                        <div class="flex items-center gap-4">
                            <div class="i-lucide-bell size-6"></div>
                            اعلان ها
                        </div>
                        <div class="notif-badge h-6 w-6 rounded-full bg-primary-btn text-center leading-6 text-white"></div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'favorite_list_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4 text-text/80 duration-300 hover:text-primary">
                        <div class="flex items-center gap-4">
                            <div class="i-lucide-heart size-6"></div>
                            علاقه‌‍مندی ها
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'visit_list_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4 text-text/80 duration-300 hover:text-primary">
                        <div class="flex items-center gap-4">
                            <div class="i-lucide-mouse-pointer-click size-6"></div>
                            بازدید های اخیر
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_info_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4 text-text/80 duration-300 hover:text-primary">
                        <div class="flex items-center gap-4">
                            <div class="i-lucide-user-cog size-6"></div>
                            اطلاعات حساب کاربری
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{% if request.user.is_provider %}{% url 'logout_provider' %}{% else %}{% url 'logout' %}{% endif %}"
                       type="button" class="inline-flex w-full items-center justify-between p-4 text-warning">
                        <div class="flex items-center gap-4">
                            <div class="i-mingcute-exit-line size-6"></div>
                            خروج
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include 'shared/footer_ref.html' %}
</body>
</html>