{% extends 'dashboard/_layout.html' %}

{% block title %}
    داشبورد | آسان تب
{% endblock %}

{% block content %}
    <div class="rounded-lg bg-muted shadow">
        <div class="p-5">
            <h1 class="relative mb-16 w-fit font-medium lg:text-lg">
                پیشخوان
                <span class="absolute right-0 top-10 h-[3px] w-full animate-fill-border rounded-full bg-primary"></span>
            </h1>
            <div class="mb-8">
                <div class="mb-8 flex flex-wrap items-center justify-between gap-4">
                    <h3 class="flex items-center gap-x-4 text-lg text-text/80">
                        <span class="h-2 w-2 rounded-full bg-primary"></span>
                        حساب کاربری
                    </h3>
                </div>
                <div class="grid grid-cols-2 gap-4 md:gap-6 xl:grid-cols-3">
                    <a href="./profile-edit.html"
                       class="col-span-2 flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start xl:col-span-1">
                        <div class="flex size-12 items-center justify-center rounded-full bg-primary-btn text-white">
                            <div class="i-lucide-user-cog size-8"></div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="font-medium">تکمیل مشخصات</p>
                        </div>
                    </a>
                    <a href="./profile-notification.html"
                       class="flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start">
                        <div class="flex size-12 items-center justify-center rounded-full bg-emerald-500 text-white dark:bg-emerald-600">
                            <div class="i-lucide-bell size-8"></div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="font-medium">2 اعلان جدید</p>
                        </div>
                    </a>
                    <a href="./profile-edit.html"
                       class="flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start">
                        <div class="flex size-12 items-center justify-center rounded-full bg-red-500 text-white dark:bg-red-600">
                            <div class="i-solar-password-broken size-8"></div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="font-medium">ثبت کلمه عبور</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mb-8">
                <div class="mb-8 flex flex-wrap items-center justify-between gap-4">
                    <h3 class="flex items-center gap-x-4 text-lg text-text/80">
                        <span class="h-2 w-2 rounded-full bg-primary"></span>
                        وضعیت سفارش های شما
                    </h3>
                    <a href="./profile-order.html"
                       class="flex items-center gap-1 text-sm text-primary duration-300 hover:text-primary/80 xl:text-base">
                        <div>مشاهده همه</div>
                        <div class="i-lucide-chevron-left size-5"></div>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-4 md:gap-6 xl:grid-cols-3">
                    <a href="./profile-order.html"
                       class="col-span-2 flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start xl:col-span-1">
                        <div class="relative flex size-12 items-center justify-center rounded-full bg-primary-btn text-white">
                            <div class="i-carbon-process-automate size-8"></div>
                            <div class="absolute -right-4 -top-2 flex size-8 items-center justify-center rounded-full border bg-muted text-text md:hidden">
                                2
                            </div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="hidden font-medium md:block">1 سفارش</p>
                            <p>فعلی</p>
                        </div>
                    </a>
                    <a href="./profile-order.html"
                       class="flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start">
                        <div class="relative flex size-12 items-center justify-center rounded-full bg-emerald-500 text-white dark:bg-emerald-600">
                            <div class="i-icon-park-outline-delivery size-8"></div>
                            <div class="absolute -right-4 -top-2 flex size-8 items-center justify-center rounded-full border bg-muted text-text text-white md:hidden">
                                2
                            </div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="hidden font-medium md:block">1 سفارش</p>
                            <p>تحویل شده</p>
                        </div>
                    </a>
                    <a href="./profile-order.html"
                       class="flex flex-col items-center justify-center gap-4 rounded-lg border px-4 py-3 hover:border-border/50 md:flex-row md:justify-start">
                        <div class="relative flex size-12 items-center justify-center rounded-full bg-red-500 text-white dark:bg-red-600">
                            <div class="i-mdi-close-circle-multiple-outline size-8"></div>
                            <div class="absolute -right-4 -top-2 flex size-8 items-center justify-center rounded-full border bg-muted text-text text-white md:hidden">
                                2
                            </div>
                        </div>
                        <div class="flex flex-col items-center md:items-start">
                            <p class="hidden font-medium md:block">1 سفارش</p>
                            <p>لغو شده</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mb-8">
                <div class="mb-8 flex flex-wrap items-center justify-between gap-4">
                    <h3 class="flex items-center gap-x-4 text-lg text-text/80">
                        <span class="h-2 w-2 rounded-full bg-primary"></span>
                        سفارشات فعلی
                    </h3>
                </div>
                <div class="space-y-4">
                    <a href="./profile-order-detail-pending.html" class="block rounded-lg border p-4 shadow">
                        <div class="flex items-center justify-between pb-6">
                            <div class="flex items-center gap-x-2 text-yellow-500 dark:text-yellow-400">
                                <div class="i-lucide-circle-alert size-6"></div>
                                <p class="font-medium md:text-lg">در انتظار پرداخت</p>
                            </div>
                            <div class="i-lucide-chevron-left size-6"></div>
                        </div>
                        <div class="flex flex-col gap-6 lg:flex-row lg:justify-between xl:gap-16">
                            <div class="flex flex-col gap-4 md:flex-row">
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        زمان باقیمانده
                                    </div>
                                    <div class="text-sm text-warning md:text-base">
                                        <div>51 دقیقه</div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        شماره سفارش
                                    </div>
                                    <div class="text-sm text-text/95 md:text-base">
                                        76173
                                    </div>
                                </div>
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        مبلغ کل
                                    </div>
                                    <div class="flex items-center gap-1 text-primary">
                                        <div class="font-bold md:text-lg">920,000</div>
                                        <div class="text-sm md:text-base">تومان</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="./profile-order-detail.html" class="block rounded-lg border p-4 shadow">
                        <div class="flex items-center justify-between pb-6">
                            <div class="flex items-center gap-x-2 text-success">
                                <div class="i-lucide-circle-check size-6"></div>
                                <p class="font-medium md:text-lg">پرداخت شده</p>
                            </div>
                            <div class="i-lucide-chevron-left size-6"></div>
                        </div>
                        <div class="flex flex-col gap-6 xl:flex-row xl:justify-between xl:gap-16">
                            <div class="flex flex-col gap-4 md:flex-row">
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        شماره سفارش
                                    </div>
                                    <div class="text-sm text-text/95 md:text-base">
                                        97815
                                    </div>
                                </div>
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        مبلغ کل
                                    </div>
                                    <div class="flex items-center gap-1 text-primary">
                                        <div class="font-bold md:text-lg">
                                            1,900,000,000
                                        </div>
                                        <div class="text-sm md:text-base">تومان</div>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between gap-x-2 md:justify-start">
                                    <div class="text-sm text-text/60 md:text-base">
                                        تاریخ
                                    </div>
                                    <div class="flex items-center gap-1 text-text/95">
                                        30 / ارديبهشت / ۱۴۰۳
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-grow flex-col gap-y-4">
                                <div class="flex items-center gap-x-2 text-yellow-500 dark:text-yellow-400">
                                    <svg viewBox="0 0 24 24" class="h-5 w-5 md:h-6 md:w-6">
                                        <path d="M17 12c-2.76 0-5 2.24-5 5s2.24 5 5 5s5-2.24 5-5s-2.24-5-5-5zm1.65 7.35L16.5 17.2V14h1v2.79l1.85 1.85l-.7.71zM18 3h-3.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H6c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h6.11a6.743 6.743 0 0 1-1.42-2H6V5h2v3h8V5h2v5.08c.71.1 1.38.31 2 .6V5c0-1.1-.9-2-2-2zm-6 2c-.55 0-1-.45-1-1s.45-1 1-1s1 .45 1 1s-.45 1-1 1z"
                                              fill="currentColor"></path>
                                    </svg>
                                    <p class="text-sm font-medium md:text-base">
                                        در انتظار تایید
                                    </p>
                                </div>
                                <div class="relative h-2 w-full rounded-full bg-secondary">
                                                    <span class="absolute inset-y-0 right-0 rounded-full bg-yellow-500 dark:bg-yellow-400"
                                                          style="width: 25%"></span>
                                </div>
                                <div class="flex items-center justify-between text-sm text-yellow-500 dark:text-yellow-400 md:text-base">
                                    <span> 30 / ارديبهشت / ۱۴۰۳</span><span> ساعت 44 : 20 </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}