<div class="hidden items-center justify-between gap-2 lg:flex">
    <div class="flex items-center gap-4">
        <div class="flex h-10 w-10 items-center justify-center rounded-full bg-primary-btn text-center text-lg font-semibold text-white">
            9
        </div>
        <p class="line-clamp-1">09000000000</p>
    </div>
    <a href="./profile-edit.html" class="rounded-full text-sm text-primary duration-300 hover:text-primary/80">
        <div class="i-lucide-pen-line size-6"></div>
    </a>
</div>
