{% load extra_filters %}
<div class="hidden items-center justify-between gap-2 lg:flex">
    <div class="flex items-center gap-2">
        {% if request.user.providers.profile_image %}
            <img class="h-10 w-10 rounded-full ml-2" src="{{ request.user.providers.profile_image.url }}" alt="profile image">
        {% else %}
            <img class="h-10 w-10 rounded-full ml-2" src="/static/images/user.png" alt="profile image">
        {% endif %}
        <p class="line-clamp-1">{{ user.get_full_name|default:user.phone_number }}</p>
        <p class="text-sm opacity-75">{% get_user_role user %}</p>
    </div>
    <a href="{% url 'account_info_page' %}" class="rounded-full text-sm text-primary duration-300 hover:text-primary/80">
        <div class="i-lucide-pen-line size-6"></div>
    </a>
</div>
