<div class="hidden items-center justify-between gap-2 lg:flex">
    <div class="flex items-center gap-2">
        {% if request.user.is_provider %}
            <img class="h-10 w-10 rounded-full ml-2" src="{{ request.user.providers.profile_image.url }}" alt="profile image">
        {% else %}
            <img class="h-8 w-8 ml-2" src="/static/images/user.png" alt="Profile">
        {% endif %}
        <p class="line-clamp-1">{{ user.get_full_name }}</p>
        {% if user.is_superuser %}
            <p class="text-sm opacity-75">(مدیر)</p>
        {% elif user.is_provider %}
            <p class="text-sm opacity-75">(فروشنده)</p>
        {% else %}
            <p class="text-sm opacity-75">(کاربر)</p>
        {% endif %}
    </div>
    <a href="{% url 'account_info_page' %}" class="rounded-full text-sm text-primary duration-300 hover:text-primary/80">
        <div class="i-lucide-pen-line size-6"></div>
    </a>
</div>
