{% load extra_filters %}
{% if request.user.is_provider or request.user.is_superuser %}
    <div class="hidden rounded-lg shadow lg:block mb-4">
        <ul class="relative space-y-2 rounded-lg bg-muted p-2">
            {% with request.resolver_match.url_name as current_url %}
                <li>
                    <a href="{% url 'dashboard_page' %}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if current_url == 'dashboard_page' %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                        <div class="flex items-center gap-4">
                            <div class="i-solar-home-smile-linear size-6"></div>
                            پیشخوان
                        </div>
                    </a>
                </li>
            {% endwith %}
        </ul>
    </div>

    {% if request.user.is_superuser %}
        <h3 class="hidden lg:flex flex items-center gap-x-4 mb-4 text-lg text-text/80">
            <span class="h-2 w-2 rounded-full bg-primary"></span>
            پنل مدیران
        </h3>
        <div class="hidden rounded-lg shadow lg:block mb-4 border border-primary">
            <ul class="relative space-y-2 rounded-lg bg-muted p-2">
                {% with request.resolver_match.url_name as current_url %}
                    {% if request.user.is_staff and request.user.is_superuser %}
                        <li>
                            <a href="{% url 'role_list' %}"
                               class="inline-flex w-full items-center justify-between rounded-lg p-4
                           {% if current_url == 'role_list' %}bg-primary/5 text-primary
                           {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                                <div class="flex items-center gap-4">
                                    <div class="i-lucide-user-round size-6"></div>
                                    لیست کاربران
                                </div>
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff and request.user.is_superuser %}
                        <li>
                            <a href="{% url 'admin_withdrawal_list' %}"
                               class="inline-flex w-full items-center justify-between rounded-lg p-4
                           {% if current_url == 'admin_withdrawal_list' %}bg-primary/5 text-primary
                           {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                                <div class="flex items-center gap-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="lucide lucide-banknote-arrow-down-icon lucide-banknote-arrow-down">
                                        <path d="M12 18H4a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5"/>
                                        <path d="m16 19 3 3 3-3"/>
                                        <path d="M18 12h.01"/>
                                        <path d="M19 16v6"/>
                                        <path d="M6 12h.01"/>
                                        <circle cx="12" cy="12" r="2"/>
                                    </svg>
                                    درخواست های برداشت
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}

    {% if request.user.providers %}
        <h3 class="hidden lg:flex flex items-center gap-x-4 mb-4 text-lg text-text/80">
            <span class="h-2 w-2 rounded-full bg-primary"></span>
            پنل فروشندگی
        </h3>
        <div class="hidden rounded-lg shadow lg:block mb-4 border border-primary">
            <ul class="relative space-y-2 rounded-lg bg-muted p-2">
                {% if request.user.providers and request.user.providers.status != "active" %}
                    <div class="absolute inset-0 pl-4 pr-4 flex flex-col items-center justify-center gap-4 rounded-lg backdrop-blur-sm">
                        <h5 class="text-center">پنل فروشندگی شما در انتظار تأیید مدیریت می‌باشد.</h5>
                    </div>
                {% endif %}
                {% with request.resolver_match.url_name as current_url %}
                    <li>
                        <a href="{% url 'provider_service_list' %}"
                           class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if current_url == 'provider_service_list' %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="lucide lucide-package-icon lucide-package">
                                    <path d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z"/>
                                    <path d="M12 22V12"/>
                                    <polyline points="3.29 7 12 12 20.71 7"/>
                                    <path d="m7.5 4.27 9 5.15"/>
                                </svg>
                                خدمت های من
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'received_orders_page' %}"
                           class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if current_url == 'received_orders_page' %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                            <div class="flex items-center gap-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="lucide lucide-store-icon lucide-store">
                                    <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"/>
                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"/>
                                    <path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"/>
                                    <path d="M2 7h20"/>
                                    <path d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"/>
                                </svg>
                                سفارشات دریافتی
                            </div>
                            <div class="received-orders-badge h-6 w-6 rounded-full bg-yellow-500 text-center leading-6 text-white dark:bg-yellow-600"></div>
                        </a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    {% endif %}

    <h3 class="hidden lg:flex flex items-center gap-x-4 mb-4 text-lg text-text/80">
        <span class="h-2 w-2 rounded-full bg-primary"></span>
        عمومی
    </h3>
    <div class="hidden rounded-lg shadow lg:block mb-4">
        <ul class="relative space-y-2 rounded-lg bg-muted p-2">
            <li>
                <a href="{% url 'my_wallet' %}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% url 'my_wallet' as wallet_url %}
                   {% if request.path|startswith:wallet_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-wallet-icon lucide-wallet">
                            <path d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"></path>
                            <path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"></path>
                        </svg>
                        کیف پول
                    </div>
                </a>
            </li>
            <li>
                {% url 'bank_accounts_view' as banks_url %}
                <a href="{{ banks_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:banks_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-credit-card size-6"></div>
                        حساب های بانکی
                    </div>
                </a>
            </li>
            <li>
                {% url 'orders_page' as orders_url %}
                <a href="{{ orders_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:orders_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-mingcute-shopping-bag-3-line size-6"></div>
                        خرید های من
                    </div>
                    <div class="order-item-badge h-6 w-6 rounded-full bg-yellow-500 text-center leading-6 text-white dark:bg-yellow-600"></div>
                </a>
            </li>
            <li>
                {% url 'notifications_page' as notifs_url %}
                <a href="{{ notifs_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:notifs_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-bell size-6"></div>
                        اعلان ها
                    </div>
                    <div class="notif-badge h-6 w-6 rounded-full bg-primary-btn text-center leading-6 text-white"></div>
                </a>
            </li>
            <li>
                {% url 'favorite_list_page' as favorites_url %}
                <a href="{% url 'favorite_list_page' %}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:favorites_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-heart size-6"></div>
                        علاقه‌‍مندی ها
                    </div>
                </a>
            </li>
            <li>
                {% url 'visit_list_page' as visits_url %}
                <a href="{% url 'visit_list_page' %}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:visits_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-mouse-pointer-click size-6"></div>
                        بازدید های اخیر
                    </div>
                </a>
            </li>
            <li>
                {% url 'account_info_page' as info_url %}
                <a href="{% url 'account_info_page' %}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
                   {% if request.path|startswith:info_url %}bg-primary/5 text-primary
                   {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-user-cog size-6"></div>
                        اطلاعات حساب کاربری
                    </div>
                </a>
            </li>
            <li>
                <a href="{% if request.user.is_provider %}{% url 'logout_provider' %}{% else %}{% url 'logout' %}{% endif %}"
                   type="button" class="inline-flex w-full items-center justify-between p-4 text-warning">
                    <div class="flex items-center gap-4">
                        <div class="i-mingcute-exit-line size-6"></div>
                        خروج
                    </div>
                </a>
            </li>
        </ul>
    </div>
    {% if completion_percent %}
        <div class="rounded-lg shadow lg:block">
            <ul class="relative space-y-2 rounded-lg bg-muted p-2">
                <li class="rounded-lg p-4 shadow">
                    <div class="flex flex-col gap-y-2">
                        <div class="flex items-center gap-x-2 text-{{ progress_color }} justify-center mb-4">
                            <p class="text-sm font-medium md:text-base">
                                پروفایل شما ٪{{ completion_percent }} تکمیل شده است </p>
                        </div>
                        <div class="relative h-3 w-full rounded-full bg-secondary">
                            <span class="absolute inset-y-0 right-0 rounded-full bg-{{ progress_color }}"
                                  style="width: {{ completion_percent }}%"></span>
                        </div>
                    </div>
                    {% if completion_percent < 100 %}
                        <button onclick="window.location.href = '{% url 'account_info_page' %}'"
                                class="btn-primary mt-6 w-full rounded-lg px-4 py-2">
                            تکمیل پروفایل
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}
{% else %}
    <div class="hidden rounded-lg shadow lg:block mb-4">
        <ul class="relative space-y-2 rounded-lg bg-muted p-2">
            {% with request.resolver_match.url_name as current_url %}
                <li>
                    {% url 'dashboard_page' as dashboard_url %}
                    <a href="{{ dashboard_url }}"
                       class="inline-flex w-full items-center justify-between rounded-lg p-4
                           {% if current_url == 'dashboard_page' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                        <div class="flex items-center gap-4">
                            <div class="i-solar-home-smile-linear size-6"></div>
                            پیشخوان
                        </div>
                    </a>
                </li>
            {% endwith %}
            <li>
                {% url 'my_wallet' as wallet_url %}
                <a href="{{ wallet_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:wallet_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-wallet">
                            <path d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"></path>
                            <path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"></path>
                        </svg>
                        کیف پول
                    </div>
                </a>
            </li>
            <li>
                {% url 'bank_accounts_view' as bank_url %}
                <a href="{{ bank_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:bank_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-credit-card size-6"></div>
                        حساب های بانکی
                    </div>
                </a>
            </li>
            <li>
                {% url 'orders_page' as orders_url %}
                <a href="{{ orders_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:orders_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-mingcute-shopping-bag-3-line size-6"></div>
                        سفارش‌ها
                    </div>
                </a>
            </li>
            <li>
                {% url 'notifications_page' as notif_url %}
                <a href="{{ notif_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:notif_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-bell size-6"></div>
                        اعلان‌ها
                    </div>
                    <div class="notif-badge h-6 w-6 rounded-full bg-primary-btn text-center leading-6 text-white"></div>
                </a>
            </li>
            <li>
                {% url 'favorite_list_page' as fav_url %}
                <a href="{{ fav_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:fav_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-heart size-6"></div>
                        علاقه‌مندی‌ها
                    </div>
                </a>
            </li>
            <li>
                {% url 'visit_list_page' as visit_url %}
                <a href="{{ visit_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:visit_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-mouse-pointer-click size-6"></div>
                        بازدیدهای اخیر
                    </div>
                </a>
            </li>
            <li>
                {% url 'account_info_page' as account_url %}
                <a href="{{ account_url }}"
                   class="inline-flex w-full items-center justify-between rounded-lg p-4
               {% if request.path|startswith:account_url %}bg-primary/5 text-primary
               {% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                    <div class="flex items-center gap-4">
                        <div class="i-lucide-user-cog size-6"></div>
                        اطلاعات حساب کاربری
                    </div>
                </a>
            </li>
            <li>
                <a href="{% if request.user.is_provider %}{% url 'logout_provider' %}{% else %}{% url 'logout' %}{% endif %}"
                   type="button"
                   class="inline-flex w-full items-center justify-between p-4 text-warning">
                    <div class="flex items-center gap-4">
                        <div class="i-mingcute-exit-line size-6"></div>
                        خروج
                    </div>
                </a>
            </li>
        </ul>
    </div>
    {% if completion_percent %}
        <div class="rounded-lg shadow lg:block">
            <ul class="relative space-y-2 rounded-lg bg-muted p-2">
                <li class="rounded-lg p-4 shadow">
                    <div class="flex flex-col gap-y-2">
                        <div class="flex items-center gap-x-2 text-{{ progress_color }} justify-center mb-4">
                            <p class="text-sm font-medium md:text-base">
                                پروفایل شما ٪{{ completion_percent }} تکمیل شده است </p>
                        </div>
                        <div class="relative h-3 w-full rounded-full bg-secondary">
                            <span class="absolute inset-y-0 right-0 rounded-full bg-{{ progress_color }}"
                                  style="width: {{ completion_percent }}%"></span>
                        </div>
                    </div>
                    {% if completion_percent < 100 %}
                        <button onclick="window.location.href = '{% url 'account_info_page' %}'"
                                class="btn-primary mt-6 w-full rounded-lg px-4 py-2">
                            تکمیل پروفایل
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}
{% endif %}