<div class="hidden rounded-lg shadow lg:block">
    <ul class="relative space-y-2 rounded-lg bg-muted p-2">
        {% with request.resolver_match.url_name as current_url %}
        <li>
            <a href="{% url 'dashboard_page' %}"
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == 'dashboard_page' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-solar-home-smile-linear size-6"></div>
                    پیشخوان
                </div>
            </a>
        </li>
        <li>
            <a href="./profile-order.html"
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == '' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-mingcute-shopping-bag-3-line size-6"></div>
                    سفارش ها
                </div>
                <div class="h-6 w-6 rounded-full bg-yellow-500 text-center leading-6 text-white dark:bg-yellow-600">
                    1
                </div>
            </a>
        </li>
        <li>
            <a href=""
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == '' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-lucide-bell size-6"></div>
                    پیام ها
                </div>
                <div class="h-6 w-6 rounded-full bg-primary-btn text-center leading-6 text-white">
                    2
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'favorite_list_page' %}"
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == 'favorite_list_page' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-lucide-heart size-6"></div>
                    علاقه‌‍مندی ها
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'visit_list_page' %}"
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == 'visit_list_page' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-lucide-mouse-pointer-click size-6"></div>
                    بازدید های اخیر
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'account_info_page' %}"
               class="inline-flex w-full items-center justify-between rounded-lg p-4 {% if current_url == 'account_info_page' %}bg-primary/5 text-primary{% else %}text-text/80 hover:text-primary{% endif %} duration-300">
                <div class="flex items-center gap-4">
                    <div class="i-lucide-user-cog size-6"></div>
                    اطلاعات حساب کاربری
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'logout' %}" type="button" class="inline-flex w-full items-center justify-between p-4 text-warning">
                <div class="flex items-center gap-4">
                    <div class="i-mingcute-exit-line size-6"></div>
                    خروج
                </div>
            </a>
        </li>
        {% endwith %}
    </ul>
</div>
