<div class="flex items-center justify-center lg:hidden">
    <div class="flex flex-col items-center justify-center gap-y-4">
        <div class="relative">
        <img class="h-16 w-16" src="/static/images/user.png" alt="Profile">

            <a href="{% url 'account_info_page' %}"
               class="absolute -right-3 -top-2 rounded-full border bg-muted p-1.5 text-sm text-primary">
                <div class="i-lucide-pen-line size-5"></div>
            </a>
        </div>
        <div>
            <p class="line-clamp-1">{{ user }}</p>
            <p class="text-text/95 text-center">{{ user.phone_number }}</p>
        </div>
        <div>
            <button type="button" data-drawer-target="profile-drawer" data-drawer-show="profile-drawer"
                    data-drawer-placement="bottom" aria-controls="profile-drawer"
                    class="btn-primary flex items-center gap-1 px-4 py-2">
                <div class="i-lucide-align-justify size-5"></div>
                منوی پنل کاربری
            </button>
        </div>
    </div>
</div>
