{% load render_partial %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% render_partial 'home.views.site_header_component' %}
    {% include 'shared/header_ref.html' %}
</head>
<body dir="rtl">
<div class="flex.min-h-screen.flex-col">
    <div id="desktop-mega-menu-overlay" class="fixed inset-0 z-20 bg-black/40 backdrop-blur-md hidden"></div>
    {% block content %}{% endblock %}
    <div data-onscrollclass="translate-y-full" class="fixed inset-x-0 bottom-0 z-20 bg-muted duration-300 lg:hidden">
        <div class="container flex items-center text-sm">
            <div class="w-1/4 border-b-2 border-primary py-1 font-medium text-primary">
                <a href="./index.html" class="flex flex-col items-center justify-center">
                    <i class="i-solar-home-smile-linear size-6 items-center justify-center"></i>
                    <p class="pt-2 text-xs xs:text-sm">خانه</p>
                </a>
            </div>
            <div class="w-1/4 py-1">
                <a href="./category.html" class="flex flex-col items-center justify-center">
                    <i class="i-iconamoon-category-light size-6"></i>
                    <p class="pt-2 text-xs xs:text-sm">دسته ها</p>
                </a>
            </div>
            <div class="w-1/4 py-1">
                <a href="./checkout-cart.html" class="flex flex-col items-center justify-center">
                    <i class="i-lucide-shopping-cart size-6"></i>
                    <p class="pt-2 text-xs xs:text-sm">سبد خرید</p>
                </a>
            </div>
            <div class="w-1/4 py-1">

                {% if request.user.is_authenticated %}
                    <a href="./profile-dashboard.html" class="flex flex-col items-center justify-center">
                        <i class="i-lucide-user-round size-6"></i>
                        <p class="pt-2 text-xs xs:text-sm">حساب من</p>
                    </a>
                {% else %}
                    <a href="{% url 'auth_page' %}" class="flex flex-col items-center justify-center">
                        <i class="i-lucide-user-round size-6"></i>
                        <p class="pt-2 text-xs xs:text-sm">ورود</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% render_partial 'home.views.site_footer_component' %}
{% include 'shared/footer_ref.html' %}

<div id="compare-drawer"
     class="fixed inset-x-0 bottom-0 z-40 max-h-[80dvh] w-full rounded-t-xl border-t bg-muted transition-transform duration-500 left-0 right-0 translate-y-full"
     tabindex="-1" aria-labelledby="compare-drawer" aria-hidden="true">
    <div class="flex h-full max-h-[80dvh] flex-col gap-4">
        <div class="flex items-center justify-between px-4 pb-2 pt-3">
            <div>لیست مقایسه</div>
            <button class="btn-warning px-4 py-2 text-sm">حذف همه</button>
        </div>
        <!-- Items -->
        <div class="grow overflow-y-auto">
            <ul class="space-y-2 divide-y p-5 pl-2">
                <li>
                    <div class="flex gap-x-2 py-5">
                        <div class="relative min-w-fit">
                            <a href="./product-detail.html">
                                <img src="/static/images/p1.png" alt="نایک زوم پگاسوس توربو مشکی" loading="lazy"
                                     class="h-25 w-25 rounded-3xl">
                            </a>
                            <button class="absolute -top-2 right-0 rounded-lg border bg-muted duration-200 hover:bg-background">
                                <div class="i-lucide-trash m-2 h-4 w-4 text-warning"></div>
                            </button>
                        </div>
                        <div class="w-full space-y-4">
                            <a href="./product-detail.html" class="line-clamp-2 text-text">نایک زوم پگاسوس توربو مشکی</a>
                            <div class="flex items-center justify-between gap-x-2">
                                <div class="flex items-center gap-x-2 text-primary">
                                    <span class="text-lg font-bold">900,000</span><span class="text-sm">تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="border-t p-4">
            <a href="./compare.html" class="btn-primary block w-full py-2">
                نمایش نتیجه
            </a>
        </div>
    </div>
</div>
<div id="favorite-drawer"
     class="fixed inset-x-0 bottom-0 z-40 max-h-[80dvh] w-full rounded-t-xl border-t bg-muted transition-transform duration-500 left-0 right-0 translate-y-full"
     tabindex="-1" aria-labelledby="favorite-drawer" aria-hidden="true">
    <div class="flex h-full max-h-[80dvh] flex-col gap-4">
        <div class="flex items-center justify-between px-4 pb-2 pt-3">
            <div>لیست علاقه‌مندی</div>
            <button class="btn-warning px-4 py-2 text-sm">حذف همه</button>
        </div>
        <!-- Items -->
        <div class="grow overflow-y-auto">
            <ul class="space-y-2 divide-y p-5 pl-2">
                <li>
                    <div class="flex gap-x-2 py-5">
                        <div class="relative min-w-fit">
                            <a href="./product-detail.html">
                                <img src="/static/images/p1.png" alt="نایک زوم پگاسوس توربو مشکی" loading="lazy"
                                     class="h-25 w-25 rounded-3xl">
                            </a>
                            <button class="absolute -top-2 right-0 rounded-lg border bg-muted duration-200 hover:bg-background">
                                <div class="i-lucide-trash m-2 h-4 w-4 text-warning"></div>
                            </button>
                        </div>
                        <div class="w-full space-y-4">
                            <a href="./product-detail.html" class="line-clamp-2 text-text">نایک زوم پگاسوس توربو مشکی</a>
                            <div class="flex items-center justify-between gap-x-2">
                                <div class="flex items-center gap-x-2 text-primary">
                                    <span class="text-lg font-bold">900,000</span><span class="text-sm">تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>