<script src="/static/scripts/mount.js"></script>
<script defer src="/static/scripts/dependencies/flowbite.min.js"></script>
<script defer src="/static/scripts/dependencies/swiper.min.js"></script>
<script defer src="/static/scripts/dependencies/nouislider.min.js"></script>
<script defer src="/static/scripts/theme.js"></script>
<script defer src="/static/scripts/header/indicator.js"></script>
<script defer src="/static/scripts/header/search.js"></script>
<script defer src="/static/scripts/header/magaMenu.js"></script>
<script defer src="/static/scripts/scroll.js"></script>
<script defer src="/static/scripts/app.js"></script>
<script defer src="/static/scripts/swiper.js"></script>
<script defer src="/static/scripts/dependencies/jquery.min.js"></script>
<script defer src="/static/scripts/action.js"></script>