<div
        id="gallery-modal"
        tabindex="-1"
        aria-hidden="true"
        class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
>
    <div class="relative max-h-full w-full max-w-5xl">
        <div class="overflow-hidden rounded-lg border bg-muted shadow">
            <!-- Header -->
            <div class="px-4 py-5 sm:px-6">
                <div class="flex items-center justify-between">
                    <h3 class="md:text-lg">
                        تصاویر محصول کفش سالومون اکس تی راش Salomon XT-RUSH
                    </h3>

                    <button
                            class="text-text/60 duration-300 hover:text-text/95"
                            data-modal-hide="gallery-modal"
                            type="button"
                    >
                        <div class="i-lucide-x size-6"></div>

                        <span class="sr-only">Close menu</span>
                    </button>
                </div>
            </div>

            <div class="space-y-6 px-4 py-5 sm:p-6">
                <!-- Content -->
                <div class="flex flex-col gap-4">
                    <div>
                        <div class="swiper product-gallery-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                            src="/static/images/p1.png"
                                            alt=""
                                            class="mx-auto min-h-[500px] min-w-[500px]"
                                            loading="lazy"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                            src="/static/images/p1.png"
                                            alt=""
                                            class="mx-auto min-h-[500px] min-w-[500px]"
                                            loading="lazy"
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                            src="/static/images/p1.png"
                                            alt=""
                                            class="mx-auto min-h-[500px] min-w-[500px]"
                                            loading="lazy"
                                    />
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next main-slider-nav-button"></div>
                            <div class="swiper-button-prev main-slider-nav-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
