<div id="filter-drawer"
     class="fixed inset-x-0 bottom-0 z-40 h-[90dvh] w-full translate-y-full overflow-y-auto rounded-t-xl border-t bg-muted transition-transform duration-500"
     tabindex="-1"
     aria-hidden="true"
>
    <div class="flex h-full flex-col gap-4">
        <div class="flex items-center justify-between p-4">
            <div class="text-lg font-medium">فیلترها</div>
            <div class="p-4">
                <button type="button" id="apply-filters-btn-mobile" data-drawer-hide="filter-drawer"
                        class="btn-primary w-full py-2">
اعمال فیلتر                </button>
            </div>
        </div>
        <!-- Filters -->
        <div class="grow overflow-y-auto">
            <ul class="divide-y">
                {#unique-services#}
                <li>
                    <label
                            class="flex cursor-pointer items-center justify-between px-4 py-5"
                            for="onlyAvailableMobile"
                    >
                        <div>فقط کالا های موجود</div>
                        <div class="relative inline-flex cursor-pointer items-center">
                            <input value="1" name="available-filter"
                                   class="peer sr-only"
                                   id="onlyAvailableMobile"
                                   type="checkbox"
                            />

                            <div
                                    class="peer h-6 w-11 rounded-full bg-background after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:bg-muted after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full"
                            ></div>
                        </div>
                    </label>
                </li>
                {#active-services#}
                <li>
                    <label
                            class="flex cursor-pointer items-center justify-between px-4 py-5"
                            for="onlySpecialMobile"
                    >
                        <div>فقط کالا های فروش ویژه</div>
                        <div class="relative inline-flex cursor-pointer items-center">
                            <input value="1" name="featured-filter"
                                   class="peer sr-only"
                                   id="onlySpecialMobile"
                                   type="checkbox"
                            />

                            <div
                                    class="peer h-6 w-11 rounded-full bg-background after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:bg-muted after:transition-all after:content-[''] peer-checked:bg-primary peer-checked:after:translate-x-full"
                            ></div>
                        </div>
                    </label>
                </li>
                {#price-range#}
                <li>
                    <div class="relative rounded-lg bg-muted" data-accordion-item>
                        <button
                                type="button"
                                class="w-full px-4 py-5 text-right md:px-6 md:py-5"
                                data-accordion-button
                        >
                            <div
                                    class="flex items-center justify-between gap-2 text-sm md:text-base"
                            >
                                <span> محدوده قیمت </span>
                                <div class="min-w-fit">
                      <span
                              class="i-lucide-chevron-left duration-300"
                              data-accordion-chevron
                      ></span>
                                </div>
                            </div>
                        </button>
                        <div
                                class="relative max-h-0 overflow-hidden transition-all duration-300"
                                data-accordion-content
                        >
                            <div class="space-y-4 p-4">
                                <div data-id="shop-price-slider"></div>
                                <div class="flex items-center justify-between">
                                    <div class="text-primary">
                        <span
                                class="text-xs font-bold xl:text-sm"
                                data-id="shop-price-slider-min"
                        >
                        </span>
                                        <span class="text-sm">تومان</span>
                                    </div>
                                    <div class="text-primary">
                        <span
                                class="text-xs font-bold xl:text-sm"
                                data-id="shop-price-slider-max"
                        >
                        </span>
                                        <span class="text-sm">تومان</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {#categories#}
                <li>
                    <div class="relative rounded-lg bg-muted" data-accordion-item>
                        <button
                                type="button"
                                class="w-full px-4 py-5 text-right md:px-6 md:py-5"
                                data-accordion-button
                        >
                            <div
                                    class="flex items-center justify-between gap-2 text-sm md:text-base"
                            >
                                <span> دسته بندی ها </span>
                                <div class="min-w-fit">
                                  <span
                                          class="i-lucide-chevron-left duration-300"
                                          data-accordion-chevron
                                  ></span>
                                </div>
                            </div>
                        </button>
                        <div
                                class="relative max-h-0 overflow-hidden transition-all duration-300"
                                data-accordion-content
                        >
                            <ul class="space-y-2 py-3">
                                {% for category in categories %}
                                    <li>
                                        <div class="inline-flex w-full items-center">
                                            <label
                                                    class="flex w-full cursor-pointer items-center gap-4 px-4 py-2"
                                                    for="checkbox-mobile-category-{{ forloop.counter }}"
                                                    data-ripple-dark="true"
                                            >
                                                <div class="relative flex items-center">
                                                    <input value="{{ category.url_title }}"
                                                           name="category-filter"
                                                           type="checkbox"
                                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary-btn checked:bg-primary-btn checked:before:bg-primary-btn hover:before:opacity-10"
                                                           id="checkbox-mobile-category-{{ forloop.counter }}"
                                                    />
                                                    <div
                                                            class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                                                    >
                                                        <div
                                                                class="i-lucide-check h-4 w-4 stroke-2"
                                                        ></div>
                                                    </div>
                                                </div>
                                                {{ category.title }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {#locations#}
                <li>
                    <div class="relative rounded-lg bg-muted" data-accordion-item>
                        <button
                                type="button"
                                class="w-full px-4 py-5 text-right md:px-6 md:py-5"
                                data-accordion-button
                        >
                            <div
                                    class="flex items-center justify-between gap-2 text-sm md:text-base"
                            >
                                <span> شهر ها </span>
                                <div class="min-w-fit">
                      <span
                              class="i-lucide-chevron-left duration-300"
                              data-accordion-chevron
                      ></span>
                                </div>
                            </div>
                        </button>
                        <div
                                class="relative max-h-0 overflow-hidden transition-all duration-300"
                                data-accordion-content
                        >
                            <div data-search-item-input-wrapper class="mb-4 px-4">
                                <input
                                        class="w-full rounded-lg border bg-transparent px-4 py-2 outline-none duration-300 placeholder:duration-300 focus:border-primary focus:placeholder:-translate-x-2"
                                        type="text"
                                        placeholder="جستجوی شهر ها ..."
                                />
                            </div>
                            <ul
                                    data-search-items
                                    class="max-h-40 space-y-2 overflow-y-auto py-3"
                            >
                                {% for location in locations %}
                                    <li>
                                        <div class="inline-flex w-full items-center">
                                            <label
                                                    class="flex w-full cursor-pointer items-center gap-4 px-4 py-2"
                                                    for="checkbox-mobile-profession-{{ forloop.counter }}"
                                                    data-ripple-dark="true"
                                            >
                                                <div class="relative flex items-center">
                                                    <input value="{{ location.name_en }}"
                                                           name="locations-filter"
                                                           type="checkbox"
                                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary-btn checked:bg-primary-btn checked:before:bg-primary-btn hover:before:opacity-10"
                                                           id="checkbox-mobile-profession-{{ forloop.counter }}"
                                                    />
                                                    <div
                                                            class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                                                    >
                                                        <div
                                                                class="i-lucide-check h-4 w-4 stroke-2"
                                                        ></div>
                                                    </div>
                                                </div>
                                                <div class="flex w-full items-center justify-between">
                                                    <span data-searchable> {{ location.name_fa }} </span>
                                                </div>
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                </li>
                {#professions#}
                <li>
                    <div class="relative rounded-lg bg-muted" data-accordion-item>
                        <button
                                type="button"
                                class="w-full px-4 py-5 text-right md:px-6 md:py-5"
                                data-accordion-button
                        >
                            <div
                                    class="flex items-center justify-between gap-2 text-sm md:text-base"
                            >
                                <span> صنف ها </span>
                                <div class="min-w-fit">
                      <span
                              class="i-lucide-chevron-left duration-300"
                              data-accordion-chevron
                      ></span>
                                </div>
                            </div>
                        </button>
                        <div
                                class="relative max-h-0 overflow-hidden transition-all duration-300"
                                data-accordion-content
                        >
                            <div data-search-item-input-wrapper class="mb-4 px-4">
                                <input
                                        class="w-full rounded-lg border bg-transparent px-4 py-2 outline-none duration-300 placeholder:duration-300 focus:border-primary focus:placeholder:-translate-x-2"
                                        type="text"
                                        placeholder="جستجوی صنف ها ..."
                                />
                            </div>
                            <ul
                                    data-search-items
                                    class="max-h-40 space-y-2 overflow-y-auto py-3"
                            >
                                {% for profession in professions %}
                                    <li>
                                        <div class="inline-flex w-full items-center">
                                            <label
                                                    class="flex w-full cursor-pointer items-center gap-4 px-4 py-2"
                                                    for="checkbox-mobile-color-{{ forloop.counter }}"
                                                    data-ripple-dark="true"
                                            >
                                                <div class="relative flex items-center">
                                                    <input value="{{ profession.url_title }}"
                                                           name="professions-filter"
                                                           type="checkbox"
                                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary-btn checked:bg-primary-btn checked:before:bg-primary-btn hover:before:opacity-10"
                                                           id="checkbox-mobile-color-{{ forloop.counter }}"
                                                    />
                                                    <div
                                                            class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                                                    >
                                                        <div
                                                                class="i-lucide-check h-4 w-4 stroke-2"
                                                        ></div>
                                                    </div>
                                                </div>
                                                <div class="flex w-full items-center justify-between">
                                                    <span data-searchable> {{ profession.title }} </span>
                                                </div>
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
                {#tags#}
                <li>
                    <div class="relative rounded-lg bg-muted" data-accordion-item>
                        <button
                                type="button"
                                class="w-full px-4 py-5 text-right md:px-6 md:py-5"
                                data-accordion-button
                        >
                            <div
                                    class="flex items-center justify-between gap-2 text-sm md:text-base"
                            >
                                <span> تگ ها </span>
                                <div class="min-w-fit">
                      <span
                              class="i-lucide-chevron-left duration-300"
                              data-accordion-chevron
                      ></span>
                                </div>
                            </div>
                        </button>
                        <div
                                class="relative max-h-0 overflow-hidden transition-all duration-300"
                                data-accordion-content
                        >
                            <div data-search-item-input-wrapper class="mb-4 px-4">
                                <input
                                        class="w-full rounded-lg border bg-transparent px-4 py-2 outline-none duration-300 placeholder:duration-300 focus:border-primary focus:placeholder:-translate-x-2"
                                        type="text"
                                        placeholder="جستجوی تگ ها ..."
                                />
                            </div>
                            <ul
                                    data-search-items
                                    class="max-h-40 space-y-2 overflow-y-auto py-3"
                            >
                                {% for tag in tags %}
                                    <li>
                                        <div class="inline-flex w-full items-center">
                                            <label
                                                    class="flex w-full cursor-pointer items-center gap-4 px-4 py-2"
                                                    for="checkbox-mobile-tag-{{ forloop.counter }}"
                                                    data-ripple-dark="true"
                                            >
                                                <div class="relative flex items-center">
                                                    <input value="{{ tag.url_title }}"
                                                           name="tags-filter"
                                                           type="checkbox"
                                                           class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border transition-all before:absolute before:left-2/4 before:top-2/4 before:block before:h-12 before:w-12 before:-translate-x-2/4 before:-translate-y-2/4 before:rounded-full before:opacity-0 before:transition-opacity checked:border-primary-btn checked:bg-primary-btn checked:before:bg-primary-btn hover:before:opacity-10"
                                                           id="checkbox-mobile-tag-{{ forloop.counter }}"
                                                    />
                                                    <div
                                                            class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100"
                                                    >
                                                        <div
                                                                class="i-lucide-check h-4 w-4 stroke-2"
                                                        ></div>
                                                    </div>
                                                </div>
                                                <div class="flex w-full items-center justify-between">
                                                    <span data-searchable> {{ tag.title }} </span>
                                                </div>
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div
        id="sort-drawer"
        class="fixed inset-x-0 bottom-0 z-40 w-full translate-y-full overflow-y-auto rounded-t-xl border-t bg-muted p-4 transition-transform duration-500"
        tabindex="-1"
        aria-labelledby="filter-drawer"
>
    <div>
        <fieldset class="mb-4 flex flex-col space-y-2">
            <legend class="sr-only">Sort</legend>
            <div>
                <input
                        id="sort-1"
                        class="peer hidden"
                        name="sort"
                        type="radio"
                        value="1"
                /><label
                    class="relative block w-full cursor-pointer rounded-lg border p-4 text-text/95 transition-all duration-200 peer-checked:border-transparent peer-checked:bg-primary/15 peer-checked:text-primary"
                    for="sort-1"
            >
                <p class="text-center">جدید ترین</p>
            </label>
            </div>
            <div>
                <input
                        id="sort-2"
                        class="peer hidden"
                        name="sort"
                        type="radio"
                        value="2"
                /><label
                    class="relative block w-full cursor-pointer rounded-lg border p-4 text-text/95 transition-all duration-200 peer-checked:border-transparent peer-checked:bg-primary/15 peer-checked:text-primary"
                    for="sort-2"
            >
                <p class="text-center">پرفروش ترین</p>
            </label>
            </div>
            <div>
                <input
                        id="sort-3"
                        class="peer hidden"
                        name="sort"
                        type="radio"
                        value="3"
                /><label
                    class="relative block w-full cursor-pointer rounded-lg border p-4 text-text/95 transition-all duration-200 peer-checked:border-transparent peer-checked:bg-primary/15 peer-checked:text-primary"
                    for="sort-3"
            >
                <p class="text-center">گران ترین</p>
            </label>
            </div>
            <div>
                <input
                        id="sort-4"
                        class="peer hidden"
                        name="sort"
                        type="radio"
                        value="4"
                /><label
                    class="relative block w-full cursor-pointer rounded-lg border p-4 text-text/95 transition-all duration-200 peer-checked:border-transparent peer-checked:bg-primary/15 peer-checked:text-primary"
                    for="sort-4"
            >
                <p class="text-center">ارزان ترین</p>
            </label>
            </div>
        </fieldset>
        <button
                type="button"
                data-drawer-hide="sort-drawer"
                class="btn-primary w-full py-2"
        >
            نمایش
        </button>
    </div>
</div>