{% load widget_tweaks %}
<div
        id="password-modal"
        class="field-modal fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 justify-center items-center flex"
        data-field="old_password,new_password,confirm_password"
        data-url="{% url 'update_password' %}"
>
    <div class="relative max-h-full w-full max-w-md">
        <div class="overflow-hidden rounded-lg border bg-muted shadow">
            <!-- Header -->
            <div class="px-4 py-5 sm:px-6">
                <div class="flex items-center justify-between">
                    <h3 class="md:text-lg">تغییر کلمه عبور</h3>

                    <button class="text-text/60 duration-300 hover:text-text/95" data-modal-hide="password-modal" type="button">
                        <div class="i-lucide-x size-6"></div>

                        <span class="sr-only">Close menu</span>
                    </button>
                </div>
            </div>

            <!-- Content -->
            <div class="space-y-6 px-4 py-5 sm:p-6">
                <form class="space-y-6 w-full" novalidate>
                    {% csrf_token %}
                    <!-- old password -->
                    {% if request.user.has_usable_password %}
                        <div class="mb-4 w-full space-y-3">
                            <label for="{{ password_form.old_password.id_for_label }}"
                                   class="relative block w-full rounded-lg border bg-muted shadow-sm duration-300 focus-within:border-primary">
                                {{ password_form.old_password|add_class:'modal-input peer w-full rounded-lg bg-transparent p-3 text-left placeholder-transparent outline-none focus:ring-0 xs:p-4'|attr:'placeholder: '|attr:'id:old_password' }}
                                <span class="pointer-events-none absolute start-3 -translate-y-1/2 rounded-full bg-muted px-2 text-xs text-text/80 transition-all duration-200 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:peer-placeholder-shown:top-0 xs:text-sm md:text-sm md:peer-placeholder-shown:text-base md:peer-focus:text-sm lg:start-5">
                              کلمه عبور فعلی
                            </span>
                            </label>
                        </div>
                    {% endif %}
                    <!-- password -->
                    <div class="mb-4 w-full space-y-3">
                        <label for="{{ password_form.new_password.id_for_label }}"
                               class="relative block w-full rounded-lg border bg-muted shadow-sm duration-300 focus-within:border-primary">
                            {{ password_form.new_password|add_class:'modal-input peer w-full rounded-lg bg-transparent p-3 text-left placeholder-transparent outline-none focus:ring-0 xs:p-4'|attr:'type:password'|attr:'id:password'|attr:'placeholder: ' }}
                            <span class="pointer-events-none absolute start-3 -translate-y-1/2 rounded-full bg-muted px-2 text-xs text-text/80 transition-all duration-200 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:peer-placeholder-shown:top-0 xs:text-sm md:text-sm md:peer-placeholder-shown:text-base md:peer-focus:text-sm lg:start-5">
                              کلمه عبور جدید
                            </span>
                        </label>
                    </div>
                    <!-- Validate -->
                    <div id="passwordValidation" class="mb-8">
                        <div class="mb-4 flex items-center gap-x-2">
                            <div id="validationIndicator1" class="w-full h-[3px] rounded-full bg-zinc-200 dark:bg-zinc-600"></div>
                            <div id="validationIndicator2" class="w-full h-[3px] rounded-full bg-zinc-200 dark:bg-zinc-600"></div>
                            <div id="validationIndicator3" class="w-full h-[3px] rounded-full bg-zinc-200 dark:bg-zinc-600"></div>
                            <div id="validationIndicator4" class="w-full h-[3px] rounded-full bg-zinc-200 dark:bg-zinc-600"></div>
                        </div>
                        <div>
                            <ul id="validationItems" class="select-none list-disc space-y-2 px-4 text-xs text-text/60 md:text-sm">
                                <li id="lengthValidation" style="display: block;">
                                    <p>حداقل 8 و حداکثر 24 حرف</p>
                                </li>
                                <li id="lowercaseValidation" style="display: block;">
                                    <p>شامل یک حرف کوچک</p>
                                </li>
                                <li id="uppercaseValidation" style="display: block;">
                                    <p>شامل یک حرف بزرگ</p>
                                </li>
                                <li id="numberValidation" style="display: block;">
                                    <p>شامل عدد</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Confirm Password -->
                    <div class="mb-4 space-y-3">
                        <label for="{{ password_form.confirm_password.id_for_label }}"
                               class="relative block w-full rounded-lg border bg-muted shadow-sm duration-300 focus-within:border-primary">
                            {{ password_form.confirm_password|add_class:'modal-input peer w-full rounded-lg bg-transparent p-3 text-left placeholder-transparent outline-none focus:ring-0 xs:p-4'|attr:'type:password'|attr:'id:confirm_password'|attr:'placeholder: ' }}
                            <span class="pointer-events-none absolute start-3 -translate-y-1/2 rounded-full bg-muted px-2 text-xs text-text/80 transition-all duration-200 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:text-xs peer-focus:peer-placeholder-shown:top-0 xs:text-sm md:text-sm md:peer-placeholder-shown:text-base md:peer-focus:text-sm lg:start-5">
                              کلمه عبور جدید تکرار
                            </span>
                        </label>
                        <div class="flex">
                            <i class="hidden i-lucide-circle-alert text-warning ml-2"></i>
                            <p class="error-text h-5 text-sm text-warning"></p>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="flex justify-end gap-4">
                        <button type="button" class="submit-btn btn-primary w-full rounded-lg px-4 py-2 md:w-auto">
                            ویرایش
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const passwordInput = document.getElementById("password");
    const validationIndicator1 = document.getElementById(
        "validationIndicator1",
    );
    const validationIndicator2 = document.getElementById(
        "validationIndicator2",
    );
    const validationIndicator3 = document.getElementById(
        "validationIndicator3",
    );
    const validationIndicator4 = document.getElementById(
        "validationIndicator4",
    );
    const lengthValidation = document.getElementById("lengthValidation");
    const lowercaseValidation = document.getElementById(
        "lowercaseValidation",
    );
    const uppercaseValidation = document.getElementById(
        "uppercaseValidation",
    );
    const numberValidation = document.getElementById("numberValidation");

    function passwordHasLowercase(password) {
        return /[a-z]/.test(password);
    }

    function passwordHasUppercase(password) {
        return /[A-Z]/.test(password);
    }

    function passwordHasNumber(password) {
        return /\d/.test(password);
    }

    function passwordIsValidPasswordLength(password) {
        return password.length >= 8 && password.length <= 24;
    }

    passwordInput.addEventListener("input", function () {
        const password = passwordInput.value;

        const lowercaseValid = passwordHasLowercase(password);
        const uppercaseValid = passwordHasUppercase(password);
        const numberValid = passwordHasNumber(password);
        const lengthValid = passwordIsValidPasswordLength(password);

        const validCount = [
            lengthValid,
            lowercaseValid,
            uppercaseValid,
            numberValid,
        ].filter(Boolean).length;

        const validationClasses = [
            "bg-zinc-200 dark:bg-zinc-600",
            "bg-zinc-200 dark:bg-zinc-600",
            "bg-zinc-200 dark:bg-zinc-600",
            "bg-zinc-200 dark:bg-zinc-600",
        ];

        switch (validCount) {
            case 1:
                validationClasses[0] = "bg-red-500";
                break;
            case 2:
                validationClasses[0] = "bg-yellow-500";
                validationClasses[1] = "bg-yellow-500";
                break;
            case 3:
                validationClasses[0] = "bg-sky-500";
                validationClasses[1] = "bg-sky-500";
                validationClasses[2] = "bg-sky-500";
                break;
            case 4:
                validationClasses[0] = "bg-green-500 dark:bg-green-400";
                validationClasses[1] = "bg-green-500 dark:bg-green-400";
                validationClasses[2] = "bg-green-500 dark:bg-green-400";
                validationClasses[3] = "bg-green-500 dark:bg-green-400";
                break;
            default:
                break;
        }

        [
            validationIndicator1,
            validationIndicator2,
            validationIndicator3,
            validationIndicator4,
        ].forEach((element, index) => {
            element.className = `w-full h-[3px] rounded-full ${validationClasses[index]}`;
        });

        lengthValidation.style.display = lengthValid ? "none" : "block";
        lowercaseValidation.style.display = lowercaseValid ? "none" : "block";
        uppercaseValidation.style.display = uppercaseValid ? "none" : "block";
        numberValidation.style.display = numberValid ? "none" : "block";
    });
</script>