{% load widget_tweaks %}
<div
        id="platform-modal"
        class="field-modal fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
        data-field="platform"
        data-url="{% url 'update_platformurls' %}"
>
    <div class="relative max-h-full w-full max-w-md">
        <div class="overflow-hidden rounded-lg border bg-muted shadow">
            <!-- Header -->
            <div class="px-4 py-5 sm:px-6">
                <div class="flex items-center justify-between">
                    <h3 class="md:text-lg">ویرایش لینک پلتفرم ها</h3>
                    <button
                            class="text-text/60 duration-300 hover:text-text/95"
                            data-modal-hide="platform-modal"
                            type="button"
                    >
                        <div class="i-lucide-x size-6"></div>
                        <span class="sr-only">Close menu</span>
                    </button>
                </div>
            </div>

            <!-- Content -->
            <div class="space-y-6 px-4 py-5 sm:p-6">
                <form class="space-y-6 w-full" novalidate>
                    {% csrf_token %}
                    <!-- User Name -->
                    <div class="space-y-3">
                        <h3>اینستاگرام</h3>
                        <label dir="rtl"
                               for="{{ platformurls_form.instagram_url.id_for_label }}"
                               class="relative block w-full rounded-lg border bg-muted shadow-sm duration-300 focus-within:border-primary"
                        >
                            {{ platformurls_form.instagram_url|add_class:"modal-input peer w-full rounded-lg bg-transparent p-2 placeholder-transparent outline-none focus:ring-0 xs:px-4 xs:py-3" }}
                        </label>
                        <div class="flex">
                            <i class="hidden i-lucide-circle-alert text-warning ml-2"></i>
                            <p class="error-text h-5 text-sm text-warning">
                                {% if platformurls_form.instagram_url.errors %}
                                    {{ platformurls_form.instagram_url.errors.0 }}{% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="space-y-3">
                        <h3>تلگرام</h3>
                        <label dir="rtl"
                               for="{{ platformurls_form.telegram_url.id_for_label }}"
                               class="relative block w-full rounded-lg border bg-muted shadow-sm duration-300 focus-within:border-primary"
                        >
                            {{ platformurls_form.telegram_url|add_class:"modal-input peer w-full rounded-lg bg-transparent p-2 placeholder-transparent outline-none focus:ring-0 xs:px-4 xs:py-3" }}
                        </label>
                        <div class="flex">
                            <i class="hidden i-lucide-circle-alert text-warning ml-2"></i>
                            <p class="error-text h-5 text-sm text-warning">
                                {% if platformurls_form.telegram_url.errors %}{{ platformurls_form.telegram_url.errors.0 }}{% endif %}
                            </p>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="flex justify-end gap-4">
                        <button
                                type="button"
                                class="submit-btn btn-primary w-full rounded-lg px-4 py-2 md:w-auto"
                        >
                            ویرایش
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const telegramInput = document.getElementById('{{ platformurls_form.telegram_url.id_for_label }}');

        const PREFIX_TELEGRAM = 'https://t.me/';

        function enforcePrefix(input, prefix) {
            if (!input.value.startsWith(prefix)) {
                input.value = prefix;
            }

            input.addEventListener('keydown', (e) => {
                const start = input.selectionStart;
                if ((e.key === 'Backspace' && start <= prefix.length) ||
                    (e.key === 'Delete' && start < prefix.length)) {
                    e.preventDefault();
                }
            });

            input.addEventListener('paste', (e) => {
                e.preventDefault();
                const pasteText = e.clipboardData.getData('text');
                input.value = prefix + pasteText.replace(prefix, '');
            });

            input.addEventListener('input', () => {
                if (!input.value.startsWith(prefix)) {
                    input.value = prefix;
                }
            });
        }

        if (telegramInput) enforcePrefix(telegramInput, PREFIX_TELEGRAM);
    });
</script>
