{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load extra_filters %}

{% block title %}
    لیست خدمات | آسان تب
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/filter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <main class="flex-grow bg-background pt-[106px]">
        <div class="container pt-10">
            <!-- Page Title -->
            <a href="./index.html" class="mb-10 inline-block pl-4 text-sm font-medium text-text/60">فروشگاه اینترنتی آسان تب</a>
            <!-- Categories -->
            <div class="mb-6">
                <div class="mb-6 text-lg font-medium">کالای دیجیتال</div>
                <div class="swiper shop-category-slider px-px py-1 swiper-initialized swiper-horizontal swiper-free-mode swiper-rtl swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-89022c7b5b62103c8" aria-live="polite"
                         style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms;">
                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7"
                             style="width: 184.4px; margin-left: 20px;">
                            <div>
                                <a href="#" class="flex flex-col items-center justify-center rounded-lg bg-muted px-5 py-5 shadow">
                                    <img src="/static/images/shop-c1.jpg" class="mb-4 h-[85px]" alt="brand 1">
                                    <div class="h-10 text-center text-sm">
                                        تبلت و کتابخوان
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next main-slider-nav-button" tabindex="0" role="button" aria-label="Next slide"
                         aria-controls="swiper-wrapper-89022c7b5b62103c8" aria-disabled="false"></div>
                    <div class="swiper-button-prev main-slider-nav-button swiper-button-disabled" tabindex="-1" role="button"
                         aria-label="Previous slide" aria-controls="swiper-wrapper-89022c7b5b62103c8" aria-disabled="true"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </div>
            <!-- Mobile Filters -->
            <div class="flex items-center gap-4 lg:hidden">
                <!-- Filter -->
                <button type="button" data-drawer-target="filter-drawer" data-drawer-show="filter-drawer"
                        data-drawer-placement="bottom" aria-controls="filter-drawer"
                        class="flex w-full items-center gap-2 rounded-lg bg-muted px-2 py-2">
                    <div class="i-ion-ios-settings-strong size-6"></div>
                    فیلتر
                </button>
                <!-- Sort -->
                <button type="button" data-drawer-target="sort-drawer" data-drawer-show="sort-drawer" data-drawer-placement="bottom"
                        aria-controls="sort-drawer" class="flex w-full items-center gap-2 rounded-lg bg-muted px-2 py-2">
                    <div class="i-lucide-list-filter size-6"></div>
                    مرتب سازی
                </button>
            </div>

            <div class="grid grid-cols-12 grid-rows-[60px_min(500px,_1fr)] lg:gap-8">
                <!-- Desktop Filters -->
                <div class="col-span-4 row-span-2 hidden lg:block xl:col-span-3">
                    <div class="sticky top-32 mb-4 overflow-hidden rounded-lg bg-muted">
                        <div dir="ltr" class="flex max-h-[calc(90vh_-_100px)] flex-col overflow-y-auto overflow-x-hidden">
                            <!-- Filters Loading Animation -->
                            <!-- <div class="animate-pulse rounded-md bg-secondary min-h-[calc(70vh_-_100px)]"></div> -->
                            <div dir="rtl">
                                <div class="flex h-full flex-col gap-4">
                                    <div class="flex items-center justify-between p-4 pb-0">
                                        <div class="text-lg font-medium">فیلترها</div>
                                        <!-- todo: create remove filter js response -->
                                        <button class="text-sm text-primary disabled:text-text/60">
                                            لغو فیلترها
                                        </button>
                                    </div>
                                    <!-- Filters -->
                                    {% include "services/components/filters/desktop.html" %}

                                    <!-- Confirm -->
                                    <!--                                    <div class="p-4">-->
                                    <!--                                        <button type="button" data-drawer-hide="filter-drawer"-->
                                    <!--                                                class="btn-primary w-full py-2">-->
                                    <!--                                            نمایش 300 کالا-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 space-y-4 lg:col-span-8 xl:col-span-9">
                    <!-- Desktop Sort -->
                    <div class="hidden lg:block">
                        <div class="flex h-14 items-center gap-x-2 rounded-lg bg-muted px-2 shadow lg:px-4">
                            <div class="flex items-center gap-x-2 text-sm lg:text-base">
                                <div class="i-lucide-list-filter size-6"></div>
                                <p>مرتب سازی بر اساس</p>
                            </div>
                            <button class="rounded-lg bg-primary/15 px-1 py-1.5 text-sm text-primary duration-200 lg:px-4 lg:text-base">
                                جدید ترین
                            </button>
                            <button class="rounded-lg px-1 py-1.5 text-sm duration-200 hover:text-primary lg:px-4 lg:text-base">
                                پرفروش ترین
                            </button>
                            <button class="rounded-lg px-1 py-1.5 text-sm duration-200 hover:text-primary lg:px-4 lg:text-base">
                                گران ترین
                            </button>
                            <button class="rounded-lg px-1 py-1.5 text-sm duration-200 hover:text-primary lg:px-4 lg:text-base">
                                ارزان ترین
                            </button>
                        </div>
                    </div>
                    <div id="service-list" class="grid grid-cols-2 gap-2 gap-y-2 xs:gap-4 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
                        {% include 'services/components/service_list_partial.html' with service=service %}
                    </div>
                    <!-- Pagination -->
                    {% if is_paginated %}
                        <nav id="pagination" class="!mt-10">
                            <div class="flex items-center justify-center gap-1">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" aria-label="First Page"
                                       class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                                        <i class="i-lucide-chevrons-right"></i>
                                    </a>
                                {% else %}
                                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm opacity-50 pointer-events-none">
                                        <i class="i-lucide-chevrons-right"></i>
                                    </span>
                                {% endif %}

                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous Page"
                                       class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                                        <i class="i-lucide-chevron-right"></i>
                                    </a>
                                {% else %}
                                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm opacity-50 pointer-events-none">
                                        <i class="i-lucide-chevron-right"></i>
                                    </span>
                                {% endif %}

                                {% for page in page_obj.paginator.page_range %}
                                    {% if page == 1 or page == page_obj.paginator.num_pages or page >= page_obj.number|add:'-1' and page <= page_obj.number|add:'1' %}
                                        {% if page == page_obj.number %}
                                            <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border border-primary-btn bg-primary-btn p-0 text-sm text-white">
                                                {{ page }}
                                            </span>
                                        {% else %}
                                            <a href="?page={{ page }}"
                                               class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                                                {{ page }}
                                            </a>
                                        {% endif %}
                                    {% elif page == 2 and page_obj.number > 4 or page == page_obj.paginator.num_pages|add:'-1' and page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                                        <div class="flex h-9 w-9 items-center justify-center">
                                            <i class="i-lucide-ellipsis text-text/80"></i>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next Page"
                                       class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                                        <i class="i-lucide-chevron-left"></i>
                                    </a>
                                {% else %}
                                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm opacity-50 pointer-events-none">
                                        <i class="i-lucide-chevron-left"></i>
                                    </span>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last Page"
                                       class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm">
                                        <i class="i-lucide-chevrons-left"></i>
                                    </a>
                                {% else %}
                                    <span class="inline-flex h-10 w-10 items-center justify-center rounded-md border bg-muted p-0 text-sm opacity-50 pointer-events-none">
                                        <i class="i-lucide-chevrons-left"></i>
                                    </span>
                                {% endif %}
                            </div>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% include "services/components/filters/mobile.html" %}
{% endblock %}